<uib-accordion class="stop-accordion" ng-class="{'panel-closed': !$ctrl.isOpen}">
  <div uib-accordion-group is-open="$ctrl.isOpen">
    <uib-accordion-heading><strong>PICKUP</strong> Memphis, TN 60655
      <span class="stops-date">
                    Today from 14:00-15:00 EST
                    <div class="caret"></div>
                  </span>
    </uib-accordion-heading>
    <div class="row">
      <details-location>
      </details-location>
      <details-contact>
      </details-contact>
      <details-notes>
      </details-notes>
    </div>
    <load-item-details>
    </load-item-details>
  </div>