<uib-accordion class="stop-accordion" ng-class="{'panel-closed': !$ctrl.isOpen}">
  <div uib-accordion-group is-open="$ctrl.isOpen">
    <uib-accordion-heading><strong>PICKUP</strong> Memphis, TN 60655
      <span class="stops-date">
                    Today from 14:00-15:00 EST
                    <div class="caret"></div>
                  </span>
    </uib-accordion-heading>
    <div class="row">
      <div class="details-location col-sm-4">
        <h5 class="small-header">Location</h5>
        <span class="loc-name">Walmart Warehouse A34</span>
        <br>
        <span class="loc-addr1">555 W. Western</span>
        <br>
        <span class="loc-addr2">Dock #123</span>
        <br>
        <span class="loc-region">Bartville, IN</span>
      </div>
      <div class="details-contact col-sm-3">
        <h5 class="small-header">Contact</h5> Bob Peterson
        <br> (312) 555-1212
      </div>
      <div class="details-notes col-sm-5">
        <h5 class="small-header">Notes from customer</h5>
        <read-more text="$ctrl.text"></read-more>
      </div>
    </div>
    <div class="load-items-details">
      <h4 class="section-header sh-med section-header_items">
                      Items to Pick Up
                      <div class="pull-right">
                        <span class="items-pickup-number">
                          Pickup Number
                          <em>
                            56783456
                          </em>
                        </span>
                        <span class="items-total-weight">
                          Stop Total
                          <em>
                            18680 LBS
                          </em>
                        </span>
                      </div>
                    </h4>
      <item-list></item-list>
    </div>
  </div>