.activity-log {
  position: relative;
  .table.table-log {
    margin: 20px 0;
    border-top: 1px solid @c-gray-lightest;
  }
  /* line 96, base/_tables.sass */
  .table.table-log tr td:first-child {
    padding-left: 0;
    border-left: none;
  }
  /* line 101, base/_tables.sass */
  .table.table-log tr:hover td:first-child {
    padding-left: 0;
    border-left: none;
  }
  .log-note {
    font-weight: @fw-bold;
    white-space: nowrap;
  }
  .collapsible-log {
    border-top: none;
  }
}