<section class="panel load-table_log activity-log">
  <h4 class="section-header sh-no_border">All Load Activities</h4>
  <p class="text-muted disclaimer">[Disclaimer text provided by Legal to clarify that this log does not replace other records for purposes like calculating detention, etc]</p>
  <table class="table table-condensed table-log">
    <tbody>
      <tr ng-repeat="activity in $ctrl.activityLog" ng-if="$ctrl.isOpen || $index === 0">
        <td class="log-note">{{activity.description}}</td>
        <td class="log-driver">{{activity.user.oneLoginRoleName}} {{activity.user.firstName}} {{activity.user.lastName | firstCharacter}}</td>
        <td class="log-time">{{activity.time}}</td>
        <td class="log-day">{{activity.day}}</td>
      </tr>
    </tbody>
  </table>
  <a href="javascript:void(0)" ng-click="$ctrl.isOpen = !$ctrl.isOpen" ng-if="$ctrl.activityLog.length > 1">
    <span ng-if="!$ctrl.isOpen">See All</span>
    <span ng-if="$ctrl.isOpen">See Last Activity Only</span>
  </a>
</section>
<p class="text-muted">Activity Logs are not available for multi-stop loads yet.</p>