//------------------------------------
    #variables
//------------------------------------

/* Color palette */

$blue:            #002981
$bright-blue:     #26c1fb

$green:           #40ae49

$gray-lightest:   #f0f0f0
$gray-light:      #e1e2e3
$gray-mid-light:  #a9adaf

$slate-grey:      #525966
$dark-grey:       #414344
$gray-darkest:    #2b363b
$black:           #162337
$black-014:       rgba(0,0,0,0.14)

// new color names
$gray-mid-dark:   #505c61


$error:         #e84d3d
$danger:        #eb004b


/* Text styles */

$heading-font:  'Teko', sans-serif
$body-font:     'Open Sans', sans-serif

