//------------------------------------
    #variables
//------------------------------------

/* Color palette */

$blue:          #19468d
$bright-blue:   #26c1fb
$dark-blue:     #162337
$dark-grey:     #414344
$light-grey:    #a9adaf
$error:         #e84d3d

$black-014:     rgba(0,0,0,0.14)

/* Text styles */

$heading-font:  'Teko', sans-serif
$body-font:     'Open Sans', sans-serif

.tab
  font-size: 30px
  font-family: $body-font

.body-text
  font-size: 14px
  font-family: $heading-font
