//------------------------------------
    #variables
//------------------------------------

/* Color palette */

$blue:          #19468d
$bright-blue:   #26c1fb
$dark-blue:     #162337

$green:         #40ae49

$light-white:   #f7f7f7
$ligther-grey:  #e7edf0
$light-grey:    #a9adaf
$slate-grey:    #525966
$dark-grey:     #414344
$black-014:     rgba(0,0,0,0.14)

$error:         #e84d3d

/* Text styles */

$heading-font:  'Teko', sans-serif
$body-font:     'Open Sans', sans-serif

.tab
  font-size: 30px
  font-family: $body-font

.body-text
  font-size: 14px
  font-family: $heading-font
