<div class="finish-loading">
  <h4 class="content-header">What Time Did The Driver Finish Loading?</h4>
  <p class="text-muted disclaimer">[Legal disclaimer such as: For communication purposes only. Detention is calculated using customer policies and documents provided at the stop location.]</p>
  <date-time-picker date-time="$ctrl.dateTimePicker" time-zones="$ctrl.timeZones"/>
  <p class="estimated-load-weight">
    <strong>Estimated Load Weight</strong>
    <br>The expected weight for all items picked up here is below. If your load appears to be significantly off, please call Echo.<br>
  </p>
  <form>
    <div class="form-group">
      <label class="checkbox control">
      <input checked="checked" class="checkbox" type="checkbox">
      <span class="control-indicator"></span>
      The total weight at this pickup seems to be about <strong>{{$ctrl.totalWeight}} LBS</strong>
    </label>
    </div>
  </form>
</div>