<div class="finish-loading">
  <h4 class="content-header">What time did the driver finish loading?</h4>
  <p class="text-muted disclaimer">This clock is solely for use as a reference and may not be accurate.  This clock shall not be determinative of any accessorial or other charges, rates, cots or pricing, all of which shall be determined in accordance by the Echo’s or the customer’s applicable contracts, tariffs or other applicable terms.</p>
  <date-time-picker date-time="$ctrl.dateTimePicker" time-zones="$ctrl.timeZones"/>
  <p class="estimated-load-weight">
    <strong>Estimated Load Weight</strong>
    <br>The expected weight for all items picked up at this location is below. If your load appears to be significantly off, please call Echo.<br>
  </p>
  <form>
    <div class="form-group">
      <label class="checkbox control">
      <input ng-model="$ctrl.weightConfirmed" class="checkbox" type="checkbox">
      <span class="control-indicator"></span>
      The total weight at this pickup seems to be about <strong>{{$ctrl.totalWeight}} LBS</strong>
    </label>
    </div>
  </form>
</div>
