.date-time-picker {
  margin: 10px 0 40px;
  .form-arrival-time .form-group {
    margin: 0 0 0 20px;
    width: 60px;
    .form-control {
      width: 100%;
    }
  }
  .select:after {
    content: url("../assets/images/icon-down-carat.svg");
    border: none !important;
    margin-top: -1rem;
    margin-right: 1rem;
  }
  .datepicker {
    position: relative;
    .daterangepicker {
      height: 371px !important;
      left: 150px !important;
      top: calc(-370px /2) !important;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3);
      .ranges {
        width: 100% !important;
      }
    }
  }
}