.date-time-picker {
  margin: 10px 0 40px;
  .form-arrival-time .form-group {
    margin: 0 0 0 20px;
    width: 60px;
    .form-control {
      width: 100%;
    }
  }
  .select:after {
    content: url("../assets/images/icon-down-carat.svg");
    border: none !important;
    margin-top: -1rem;
    margin-right: 1rem;
  }
}