<div class="active-invoices">
  <div class="container-fluid carrier-dashboard-header">
    <div class="container">
      <ul class="list-inline carrier-dashboard-header_left">
        <li>
          <a href="#">159 Loads unbilled</a>
        </li>
        <li>
          Worth $273,432.55
        </li>
      </ul>
      <echo-rep-contact class="list-inline carrier-dashboard-header_right" rep-details="$ctrl.repDetails"></echo-rep-contact>
    </div>
  </div>
  <div class="container main-content">
    <invoice-table rep-details="$ctrl.repDetails" invoices="$ctrl.activeInvoices" show-loading="$ctrl.showLoading" carrier-id="$ctrl.carrierId"></invoice-table>
    <pagination page-click-handler="$ctrl.fetchActiveInvoices()" paging-model="$ctrl.paging" record-type="Invoices" ng-if="!$ctrl.showLoading"></pagination>
  </div>
</div>
