<div class="carrier-admin-nav">
    <nav class="hidden-xs">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
          <a ui-sref="{{::$ctrl.routesConfig.INDEX.dashboard.name}}">Dashboard</a>
        </li>
        <li ng-class="{'active': $ctrl.state.includes($ctrl.routesConfig.INDEX.loadManagement.name)}">
          <a ui-sref="{{::$ctrl.routesConfig.INDEX.activeLoads.name}}">Load Management</a>
        </li>
        <li ui-sref-active="active">
          <a href="javascript:void(0)">Invoicing</a>
        </li>
        <li  ng-class="{'active': $ctrl.state.includes($ctrl.routesConfig.INDEX.myCompany.name)}">
          <a ui-sref="{{::$ctrl.routesConfig.INDEX.myCompanyUsers.name}}">My Company</a>
        </li>
      </ul>
    </nav>
  </div>
</div>