<div class="gm-info-window">
  <div class="gm-overlay-header">
    <h2 class="load-number">
      <a ui-sref="{{$ctrl.loadDetails}}({loadId: $ctrl.selectedLoad.loadGuid})">{{$ctrl.selectedLoad.loadId}}</a>
    </h2>
    <div class="btn btn-default" ng-if="!$ctrl.expanded" ng-click="$ctrl.viewMapHandler({mapPoint: $ctrl.selectedLoad})">View Map</div>
    <action-button ng-if="$ctrl.expanded" load="$ctrl.selectedLoad" action-changed-callback="$ctrl.actionChangedCallback()" carrier-id="$ctrl.carrierId"></action-button>
  </div>
  <div class="gm-overlay-body">
    <div class="load-info row">
      <div class="col-xs-5">
        <shipping-details shipping-details="$ctrl.selectedLoad.pickUp"></shipping-details>
      </div>
      <div class="col-xs-2">
        <div class="load-col load-direction">
          <span class="echo-icon icon-right-arrow-dark"></span>
        </div>
      </div>
      <div class="col-xs-5">
        <shipping-details shipping-details="$ctrl.selectedLoad.delivery"></shipping-details>
      </div>
    </div>
  </div>
  <div class="gm-overlay-footer row">
    <div class="driver-contact col-xs-5" ng-if="!$ctrl.noDriver">
      <span>{{$ctrl.selectedLoad.driver.firstName}} {{$ctrl.selectedLoad.driver.lastName | firstCharacter}}</span>
      <br>
      <span class="small">{{$ctrl.selectedLoad.driver.phone | phoneNumber}}</span>
    </div>
    <div class="driver-contact col-xs-5" ng-if="$ctrl.noDriver">
      No Driver Assigned
    </div>
    <div class="col-xs-5 col-xs-offset-2">
      <driver-captured-location location="$ctrl.selectedLoad.currentLocation" time-stamp="$ctrl.selectedLoad.timeStamp" captured-by="$ctrl.selectedLoad.capturedBy"></driver-captured-location>
    </div>
  </div>
  <div class="row gm-selection">
    <div class="col-xs-12 load-selection">
      <div class="selection-container">
        <a ng-click="$ctrl.previousLoad()" href="javascript:void(0)" ng-if="$ctrl.mapPoint.loads.length > 1">
          <span class="echo-icon icon-dark-left-arrow"></span>
        </a>
        <span>Load <b>{{$ctrl.paging.selectedPage}}</b> of <b>{{$ctrl.paging.getNumberOfPages()}}</b> in <b>{{$ctrl.selectedLoad.currentLocation.cityName}}, {{$ctrl.selectedLoad.currentLocation.stateCode}}</b></span>
        <a ng-click="$ctrl.nextLoad()" href="javascript:void(0)" ng-if="$ctrl.mapPoint.loads.length > 1">
          <span class="echo-icon icon-dark-right-arrow"></span>
        </a>
      </div>
    </div>
  </div>
</div>