<div class="document-type">
  <form class="form-inline">
    <legend>TYPE</legend>
    <radio-button ng-model="$ctrl.selectedDocumentType" value="$ctrl.loadDocumentsHandler()" label="Load Document" name="optionsRadiosType" is-disabled="$ctrl.isDisabled"></radio-button>
    <radio-button ng-model="$ctrl.selectedDocumentType" value="$ctrl.documentTypes.INVOICE.value" label="Invoices" name="optionsRadiosType" is-disabled="$ctrl.isDisabled || $ctrl.numberOfPODS < $ctrl.numberOfStops"></radio-button>
  </form>
  <hr class="hr">
  <div ng-if="$ctrl.selectedDocumentType === $ctrl.documentTypes.INVOICE.value" ng-transclude="invoices"></div>
  <div ng-if="$ctrl.selectedDocumentType !== $ctrl.documentTypes.INVOICE.value" ng-transclude="loadDocumentTypes"></div>
</div>