<section class="content-container">
  <h2 class="section-header">Change Password</h2>
  <form name="$ctrl.changePasswordForm" novalidate>
    <fieldset class="fieldset row">
      <div class="col-sm-6">
        <div class="form-group" ng-class="{'has-error': ($ctrl.changePasswordForm.currentPassword.$invalid || $ctrl.errorsConfig.INVALID_USERNAME_OR_PASSWORD === $ctrl.serverError) && $ctrl.changePasswordForm.currentPassword.$touched}">
          <label>Current Password</label>
          <input class="form-control"  ng-click="$ctrl.clearServerErrors()" name="currentPassword" ng-model="$ctrl.currentPassword" placeholder="******" type="password" required>
          <span class="help-block" ng-if="$ctrl.changePasswordForm.currentPassword.$invalid && $ctrl.changePasswordForm.currentPassword.$touched">Current password is required</span>
          <span class="help-block" ng-if="$ctrl.errorsConfig.INVALID_USERNAME_OR_PASSWORD === $ctrl.serverError">Invalid password</span>
        </div>
        <div class="form-group">
          <label>New Password</label>
          <input class="form-control" ng-model="$ctrl.passwordChange.newPassword" placeholder="******" type="password">
        </div>
        <div class="form-group" ng-class="{'has-error': !$ctrl.passwordChange.confirmPasswordMatches() && $ctrl.changePasswordForm.passwordConfirm.$touched}">
          <label>Confirm New Password</label>
          <input class="form-control" name="passwordConfirm" ng-model="$ctrl.passwordChange.confirmPassword" placeholder="******" type="password">
          <span class="help-block" ng-if="!$ctrl.passwordChange.confirmPasswordMatches() && $ctrl.changePasswordForm.passwordConfirm.$touched">Passwords do not match</span>
        </div>
      </div>
      <div class="col-sm-6">
        <password-validation password-change="$ctrl.passwordChange"></password-validation>
      </div>
      <div class="form-group col-xs-12 text-right">
        <loading-button button-text="Set" disable-button="!$ctrl.passwordChange.isValidPassword()" click-handler="$ctrl.changePasswordHandler()" show-loading="$ctrl.showButtonLoading"></loading-button>
      </div>
    </fieldset>
  </form>
</section>