<div class="report-arrival-modal">
  <div class="modal-header">
    <button aria-label="close" class="close btn-close" ng-click="$ctrl.modalActions.close()" data-close="modal" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h1 class="modal-title">
      <span class="assign-action-type">
        Report Arrival For
      </span>
      <span class="assign-action-to">
        Load {{$ctrl.load.loadNumber}}
      </span>
    </h1>
    <div class="modal-subheading" ng-if="$ctrl.load.proNumber">PRO {{$ctrl.load.proNumber}}</div>
  </div>
  <div class="modal-body">
    <arrival-sidebar load="$ctrl.load" report-arrival="$ctrl.reportArrival" />
    <section class="modal-main-content">
      <h4 class="content-header">What time did the driver arrive<br> at the pickup stop?</h4>
      <p class="text-muted disclaimer">[Legal disclaimer such as: For communication purposes only. Detention is calculated using customer policies and documents provided at the stop location.]</p>
      <date-time-picker time-zones="$ctrl.timeZones" date-time="$ctrl.dateTimePicker" />
      <div class="date-select"></div>
    </section>
  </div>
  <div class="modal-footer">
    <loading-button button-text="Confirm Arrival" click-handler="$ctrl.confirmArrivalHandler()" show-loading="$ctrl.showButtonLoading"></loading-button>
    <button class="btn btn-link btn-alt" data-dismiss="modal" ng-click="$ctrl.modalActions.close()" data-close="modal" type="button">CANCEL</button>
  </div>
</div>
