.body-content {
  height: 900px; //TODO: Remove once there is content for my carriers
}
.my-carriers {
  background: @c-white;
  carrier-details {
    background: @c-gray-lightest;
  }

  .results-selection_empty{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    text-align: center;
    padding: 0 5%;
    h2 {
      font-weight: @fw-light;
      font-family: inherit;
      color: @c-gray-heavy-light;
    }
  }

  carrier-details{
    width: 100%;
  }
  all-carriers{ 
    width: 100%;
  }
}

