.pickup-at-yard {
  height: 100%;
  .new-driver {
    position: relative;
    height: 100%;
    display: flex;
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    .loading .loading-text {
      top: 42%;
      left: 42%;
    }
  }

  .invite-new-driver {
    margin-bottom: 40px;
  }
  .new-driver-section {
    height: 100%;
  }
}

pickup-at-yard {
  height: 100%;
}