.new-driver {
  button, legend {
    display: none;
  }
  .personal-information {
    float: left;
    padding-right: 40px;
  }
  .content-container.profile-info {
    box-shadow: none;
    margin-bottom: 0;
    padding: 0;
  }
  .profile-name.profile-name_driver {
    display: none;
  }
  fieldset + fieldset {
    margin-top: 0;
  }
}