// Dashboard Header
//////////

.navbar + .carrier-dashboard-header
  margin-top: -20px

.carrier-dashboard-header
  background: #fff
  border-bottom: 1px solid $gray-light
  > div
    display: flex

  li
    margin-bottom: 0

.carrier-dashboard-header_left
  text-transform: uppercase

.carrier-dashboard-header_right
  text-align: right

  +tablet
    margin-left: auto
  a
    color: $dark-grey
  li
    padding-left: 13px
    padding-right: 13px

.carrier-dashboard-header_label
  font-weight: bold
  color: #19468d
  margin-right: 5px


// Section Header
//////////

.carrier-dashboard
  section
    margin-top: 40px

  .section-head
    display: flex
    justify-content: space-between
    align-items: flex-end
    margin-bottom: 20px

  .section-label, .section-sub-label
    text-transform: uppercase
    font-weight: normal
    margin-bottom: 0

  .section-sub-label
    padding-left: 15px

// Carrier Dashboard Table details
//////////

.table-carrier-dashboard
  color: $gray-darkest

  tr > td
    &.carrier-dashboard-arrow, 
    &.carrier-dashboard-pickup,
      border-right: none

    &.carrier-dashboard-arrow
      padding-left: 0
      padding-right: 0
      img
        margin: 15px 0

  thead
    .location-delivery
      margin-left: 18px

  .muted
    color: $gray-mid-light

  .pagination > li > a
    float: none

  ul.pagination
    margin-top: 5px
    margin-bottom: 0
    display: block

    li
      color: $gray-mid-light

  .carrier-dashboard-load
    p
      margin-bottom: 10px
    p.label
      margin-bottom: 3px

  .location-pickup,
  .location-delivery
    display: flex
    flex-direction: column

    // +tablet
    //   &.match-height
    //     height: auto

  .lead
    font-weight: normal
    line-height: 20px
    margin-bottom: 2px
    word-break: break-word

  .location-state
    margin-bottom: 10px

  .location-time
    font-size: 12px
    line-height: 16px
    margin-top: 10px
    +tablet
      margin-top: auto

  .driver-status
    font-size: 12px
    line-height: 16px
    margin-top: 10px
    +tablet
      margin-top: auto

.carrier-dashboard-pickup,
.carrier-dashboard-delivery
  max-width: 200px

.carrier-dashboard-driver,
.carrier-dashboard-action
  display: inline-flex
  flex-direction: column
  line-height: 20px
  h3
    margin-bottom: 0
    line-height: 24px
  .muted
    font-size: 12px
    line-height: 16px

.carrier-dashboard-action
  justify-content: center

.carrier-dashboard-driver
  .btn
    margin-top: 5px

.carrier-dashboard-action,
.carrier-dashboard-multi-load-action
  width: 100%
  .btn
    margin: 6px 0 0 0
    width: 100%
  p
    margin: 6px 0 0 0
    > .btn-link
      text-align: left
      margin: 0

  .action-align-bottom
    margin-top: auto

.carrier-dashboard-multi-load

  .carrier-dashboard-action
    .action-align-bottom
      margin-top: auto
    .btn
      margin-bottom: 0

.carrier-dashboard-arrow
  img
    width: 23px
    height: auto
