//------------------------------------
    #echorep
//------------------------------------

// Layout adjustments, grids
.echorep
  header.navbar
    margin-bottom: 0
  footer.footer
    margin-top: 0

// 1050px = 1170 - 60 - 60

.container-flex
  .col-echorep
    padding: 45px 30px
    display: flex

  .col-wrap
    width: 100%

  .col-echorep:first-child
    justify-content: flex-end
    
    @media (min-width: 992px)
      padding-left: 60px

    @media (min-width: 1200px)
      padding-right: 60px
      .col-wrap
        width: 330px

    @media (min-width: 1270px)
      .col-wrap
        width: 373px

  .col-echorep:last-child
    justify-content: flex-start
    background-color: #f7f7f7
    
    @media (min-width: 992px)
      padding-left: 60px
      padding-right: 60px

    @media (min-width: 1370px)
      .col-wrap
        width: 677px

.results-selection
  .portal-user-grid
    +flex-grid(1,1rem)

    +tablet
      +flex-grid(2,1rem)
    .portal-user
      margin-bottom: 10px


// Listing Sidebar
/////////////

.col-echorep_searchlist
  .search-form
    width: 100%

.sidebar-list
  overflow-y: scroll
  height: 75vh
  margin-top: 20px

.sidebar-list_results
  list-style: none
  padding-left: 0
  margin-top: 0
  span.input-result
    border-bottom: 2px solid $warning
  li
    line-height: 1.4
    margin-bottom: 14px
    a
      color: $gray-darkest
      padding: 3px 0
      display: block
      &:hover
        text-decoration: none
        padding: 3px 10px
        border-radius: 2px
        background-color: $bright-blue

.sidebar-list_alpha
  list-style: none
  padding-left: 0
  margin-top: 0

.sidebar-list_letter
  color: $gray-mid-light
  font-family: $heading-font
  font-size: 20px
  text-transform: capitalize
  line-height: 1
  margin-bottom: 30px
  padding-left: 1px

.sidebar-list_names
  list-style: none
  font-family: $body-font
  font-size: 14px
  line-height: 1.4
  padding: 10px 0 0
  margin-top: 10px
  border-top: 1px solid $gray-mid-light

  .item-inactive
    > a
      color: $gray-darkest
      font-weight: 400
      &:before
        content: image-url('star-outline.svg')
  a
    color: $gray-darkest
    font-weight: 600
    padding: 3px 0
    display: block
    &:before
      display: inline-block
      content: image-url('star-solid.svg')
      margin-right: 10px
      margin-top: 0.25rem
      width: 15px
      height: 15px

    &:hover
      text-decoration: none
      padding: 3px 10px
      border-radius: 2px
      background-color: $bright-blue

  .sidebar-selected
    text-decoration: none
    padding: 3px 10px
    border-radius: 2px
    background-color: $bright-blue


// search results detail
///////////////

.selection-name
  margin-bottom: 60px

  h1
    font-size: 30px
    margin: 0
    text-transform: none

.selection-users
  margin-bottom: 60px

  .selection-header
    display: flex
    justify-content: space-between
    text-transform: uppercase
    padding-bottom: 5px
    margin-bottom: 20px
    border-bottom: solid 1px $gray-light

.driver-results
  font-size: 18px
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  p
    margin-bottom: 0
  a
    font-size: 14px


// Empty Search Results
//////////

.results-selection_empty
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  height: 75vh
  color: $gray-mid-light
  text-align: center
  padding: 0 5%

  h2
    font-weight: 100
