//------------------------------------
// #invoices
//
// unique styles for
// invoice specific components.
//------------------------------------

.invoice-active
  .tab-bar .search-form
    margin-top: 10px
    margin-bottom: 10px

.table-invoice
  tr > th:last-child,
  tr > td:last-child
    padding-right: 0


  .invoice-number
    width: 120px

  .load-col
    width: 43%

    &.load-direction
      width: 40px
      padding: 0
      text-align: center

.table-invoice-details
  tr > th
    &:first-child
      text-align: left
      padding-left: 0
      width: 45%


.invoice-lane
  .load-info
    align-items: center
    max-width: 275px