//------------------------------------
    #load-details
//------------------------------------


.load-management
  background-color: #f7f7f7

#loads-accordion

  .panel-title
    strong
      text-transform: uppercase
      margin-right: 10px

  .stops-date
    color: #ffffff
    font-size: 14px
    line-height: 1.4
    float: right

.items-header


.items-lists
  display: flex
  
  .item-list
    flex: 1
    margin: 10px 1.25rem
    padding: 20px 20px 15px
    box-shadow: none
    border: 0

// Sidebar

.load-documents
  padding: 0
