//------------------------------------
    #load-details
//------------------------------------


.load-management
  background-color: #f7f7f7

#loads-accordion

  .panel-title
    strong
      text-transform: uppercase
      margin-right: 10px

  .stops-date
    color: #ffffff
    font-size: 14px
    line-height: 1.4
    float: right



.load-items-details
  margin-top: 50px

.section-header_items
  span
    margin-left: 20px
  em
    margin-left: 5px
    font-style: normal
    font-weight: 300

.items-lists
  display: flex
  margin: 0 -1.25rem
  
  .item-list
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 10px 1.25rem
    padding: 20px 20px 15px
    border: 0
    box-shadow: none

  .item-footer
    font-size: 12px
    padding: 9px 20px
    margin: 10px -20px -20px
    border-radius: 0 0 3px 3px
    background-color: $gray-lightest
    border-top: 1px solid $gray-light


// Sidebar

.load-documents
  padding: 0
