//------------------------------------
    #load-details
//------------------------------------

body.load-management-detail
  background-color: #f7f7f7

// Load Mgmt single table
////////

.load-table_detail
  background: #fff

  table.table
    margin-bottom: 0

  table.table tr > td
    border-bottom: 0

  table.table
    tr:hover
      td:first-child
        padding-left: 0
        border-left: 4px solid transparent

// Load Mgmt Pickup/Delivery collapsible panels
////////

#loads-accordion
  .panel-title
    strong
      text-transform: uppercase
      margin-right: 10px

  .stops-date
    font-size: 14px
    line-height: 1.4
    float: right
    .caret
      margin-left: 10px


.load-items-details
  margin-top: 50px

.section-header_items
  span
    margin-left: 20px
  em
    margin-left: 5px
    font-style: normal
    font-weight: 300

.items-lists
  display: flex
  margin: 0 -1.25rem
  
  .item-list
    flex: 1
    display: flex
    flex-direction: column
    justify-content: space-between
    margin: 10px 1.25rem
    padding: 20px 20px 15px
    border: 0
    box-shadow: none

  .item-footer
    font-size: 12px
    padding: 9px 20px
    margin: 10px -20px -20px
    border-radius: 0 0 3px 3px
    background-color: $gray-lightest
    border-top: 1px solid $gray-light

// Driver Log

.log-note
  font-weight: 600
  white-space: nowrap


// Sidebar

.form-inline-editing
  padding: 5px 0
  border-radius: 3px

  .form-control
    margin-right: 10px

.load-documents
  padding: 0
  margin: 20px 0

.load-doc
  display: flex
  flex-direction: row
  align-items: center
  margin-bottom: 10px
  padding: 0px 10px 15px
  border-bottom: 1px solid $gray-light

.doc-image
  height: 70px
  width: 65px
  margin: 0 25px 0 0
  display: flex
  flex: 0 0 auto
  align-items: center
  justify-content: center

  img
    width: auto
    height: auto
    flex: 0 0 auto

.doc-descrip
  font-size: 12px
  line-height: 1.3
  h5
    font-size: 14px
    text-transform: uppercase
    margin: 0