

// Load Management Nav Tabs

.load-management
  .tab-bar
    margin-bottom: 0

  .nav-tabs > li > a
    padding-top: 5px
    padding-bottom: 15px

.tab-bar
  .search-form
    width: 225px
    margin-top: 20px
    margin-left: auto
    +tablet
      width: 350px


.load-management-upcoming

  .action-text
    p
      margin-bottom: 15px
    img
      margin-right: 8px
    span
      vertical-align: middle


.read-more-content
  height: 79px
  overflow: hidden