

// Load Management Nav Tabs

.load-management
  .tab-bar
    margin-bottom: 0

  .nav-tabs
    display: inline-flex

  .nav-tabs > li > a
    padding-top: 5px
    padding-bottom: 15px

  .search-form
    margin-top: 20px
    width: 250px
    +tablet
      width: 350px

    .search-form-input_dark
      background-color: $gray-mid-light
      color: #FFF

      &:hover,
      &:focus
        background-color: $gray-mid-dark

      &::-webkit-input-placeholder
        color: #FFF
      &:-moz-placeholder
        color: #FFF
        opacity: 1
      &::-moz-placeholder
        color: #FFF
        opacity: 1
      &:-ms-input-placeholder
        color: #FFF

      &:focus
        &::-webkit-input-placeholder
          color: $gray-mid-dark
        &:-moz-placeholder
          color: $gray-mid-dark
          opacity: 1
        &::-moz-placeholder
          color: $gray-mid-dark
          opacity: 1
        &:-ms-input-placeholder
          color: $gray-mid-dark


.load-management-upcoming

  .action-text
    p
      margin-bottom: 15px
    img
      margin-right: 8px
    span
      vertical-align: middle
