//------------------------------------
    #registration+login_screens
//------------------------------------


.register
  .container-flex
    height: 100%

.col-register
  flex: 1 0 auto
  padding: 100px 90px

.col-register_content
  color: #fff
  background: image-url('map-texture-group.png') top center no-repeat
  background-size: cover


.password-check
  margin-top: 60px
  p
    margin-bottom: 0

