//------------------------------------
    #registration+login_screens
//------------------------------------

.col-register
  flex: 1 0 auto

.col-register_content
  color: #fff
  background-size: cover
  background: image-url('map-texture-group.png') top center no-repeat