//------------------------------------
//    #reporting and tracking modals
//------------------------------------

/// Custom styles for Load Management modals
////////////

.modal-load-mgmt
  .modal-body
    padding: 0
    display: flex
    flex-direction: row

  .modal-sidebar
    width: calc(100%/3)
    width: 175px
    padding: 25px 25px 25px 0
    border-right: solid 1px $gray-light

  .modal-main-content
    padding: 25px 0 25px 25px
    flex: 1
    display: flex
    flex-direction: column

  .modal-footer
    position: relative


.modal-subheading
  margin-left: auto

.modal-action-links
  margin-top: auto
  margin-bottom: -10px

  .btn-link + .btn-link
    margin-left: 15px

  &.modal-action-split
    display: flex
    align-items: flex-end
    justify-content: space-between

    svg
      vertical-align: middle

.btn-group-left
  margin-left: -5px

.btn-group-right
  margin-right: 0
  > .btn
    margin: 0

// Typography in modals

.modal-main-content

  .content-header + p
    margin-top: -15px

// Assign Driver Modals
//////////////

.table-modal-scroll
  height: 300px
  overflow-y: scroll
  padding-right: 25px
  border-bottom: solid 1px $gray-mid-dark
  
  table
    tr > td:last-child
      padding-right: 0

.table-assign-driver
  margin-bottom: 0

  .driver-status,
  .driver-contact
    text-align: right

  td.driver-contact
    color: $gray-mid-light
    width: 120px

  td.driver-status
    width: 60px

  .driver-name
    font-size: 14px

////////////
// Custom Modal Elements
////////////

.document-add
  display: flex
  align-items: center
  margin-bottom: 10px

  .btn
    flex: 0 0 auto
    width: 255px
    margin-bottom: 0

  .btn-note
    color: $gray-mid-light
    margin: 0 0 0 20px


.card-group
  max-height: 235px
  overflow-y: scroll
  padding: 2px 15px 0 2px
  margin-bottom: 20px

// Arrive Time Picker
//////

.form-arrival-time
  margin: 10px 0 40px

  .form-group
    margin: 0 0 0 20px
    width: 60px

    .form-control
      width: 100%

  .btn-modal-dp
    padding-left: 45px

    &.filter__assigned
      &:before
        content: image-url('icon-calendar-white.svg')

    &:before
      content: image-url('icon-calendar-gray.svg')
      display: inline-block
      position: absolute
      top: 10px
      left: 15px
      width: 18px
      height: auto
      margin-right: 6px

    &:hover,
    &.active,
    &:active,
    &:focus
      &:before
        content: image-url('icon-calendar-white.svg')


  .daterangepicker.single.show-calendar
    left: 150px !important
    top: calc(-370px /2) !important
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.3)

.search-location
  display: flex
  justify-content: space-between
  min-height: 60px
  margin-top: 20px
  margin-bottom: 30px

  .form-control
    width: 220px

