//------------------------------------
    #driver-list
//------------------------------------

.load-number
  margin: 10px 0 5px
  line-height: 0.8
  letter-spacing: 0.5px
  font-size: 30px
  font-family: $heading-font

.driver-name
  margin: 0 0 10px
  line-height: 1.2
  font-size: 18px