//------------------------------------
    #footer
//------------------------------------

footer.footer
  color: #fff
  margin-top: 60px
  background-color: $black
  
  .footer-primary
    padding: 23px 0 20px
  .footer-secondary
    padding: 15px 0

  .footer-primary
    background-size: contain
    background: image-url('map-texture-group@2x.png') bottom center

  .footer-secondary
    .footer-nav a
      text-decoration: underline
      color: $gray-mid-light
      &:hover
        text-decoration: none

  .navbar-brand
    color: #fff
    line-height: 0.5
    margin: 5px 0
    font-size: 30px

  .footer-nav
    margin: 0
    li
      padding-left: 13px
      padding-right: 13px
      margin-bottom: 0
    a
      color: #fff

.copyright
  display: block
  text-align: right

  +large
    display: inline
    margin-right: 13px
    