//------------------------------------
    #footer
//------------------------------------

footer.footer
  color: #fff
  padding: 16px 0
  background-color: $dark-blue

  .navbar-brand
    color: #fff
    line-height: 0.5
    margin: 5px 0
    font-size: 30px

  .footer-nav
    margin-left: 10px

    a
      color: #fff