//------------------------------------
    #footer
//------------------------------------

footer.footer
  color: #fff
  
  background-color: $dark-blue
  
  .footer-primary
    padding: 23px 0 20px
  .footer-secondary
    padding: 15px 0

  .footer-primary
    background-size: contain
    background: image-url('map-texture-group@2x.png') bottom center

  .footer-secondary
    .footer-nav a
      text-decoration: underline
      color: $light-grey
      &:hover
        text-decoration: none

  .navbar-brand
    color: #fff
    line-height: 0.5
    margin: 5px 0
    font-size: 30px

  .footer-nav
    margin-left: 10px
    margin-bottom: 0
    li
      padding-left: 13px
      padding-right: 13px
    a
      color: #fff
