//------------------------------------
    #main
//------------------------------------

html, body
  height: 100%

.container-flex
  display: flex
  flex-direction: row
  align-items: stretch
  align-content: stretch
  justify-content: center
  height: 100%
  