//------------------------------------
    #tabs
//------------------------------------

header.navbar + .tab-bar
  margin-top: -20px

.tab-bar
  background-color: #f7f7f7
  box-shadow: inset 0 -1px 0 0 #e1e2e3

  .nav-tabs
    margin-top: 20px
    border-bottom: 0

    svg
      margin-right: 5px
      margin-bottom: -1px

    g.icon
      fill: $slate-grey
      transition: fill 0.3s

    > li
      margin-bottom: 0

      > a
        padding: 10px 20px 11px
        color: $slate-grey
        line-height: 1.2
        letter-spacing: 0.5px
        text-transform: uppercase
        font-size: 30px
        font-family: $heading-font
        border-radius: 0
        border: none
        border-bottom: 4px solid transparent
        background: none
      
        &:hover
          color: $bright-blue
          border: none
          border-bottom: 4px solid transparent
          g.icon
            fill: $bright-blue

      &.active
        a
          color: $bright-blue
          background: none
          border-bottom: 4px solid $bright-blue
        g.icon
          fill: $bright-blue
