<div class="load-management">
  <loading show-loading="$ctrl.showLoading"></loading>
  <div ng-show="!$ctrl.showLoading">
    <tab-bar ng-if="$ctrl.tabItems" tab-items="$ctrl.tabItems" tab-replacement-text="$ctrl.tabReplacementText" ng-if="$ctrl.state.current.name !== $ctrl.routesConfig.INDEX.loadDetails.name">
      <h2>Search Results for {{$ctrl.stateParams.searchText}}</h2>
      <search-bar search-callback="$ctrl.routeToSearch(searchText)"></search-bar>
    </tab-bar>
    <div ui-view></div>
  </div>
</div>