  .load-management {
    background-color: @c-white;
    .mail-icon {
      content:url('../assets/images/mail-icon-gray.png');
    }
    .tab-bar {
      margin-bottom: 0;
    }
    .container.main-content {
      padding-bottom: 40px;
    }
    .search-form {
      margin-left: auto;
      margin-top: 20px;
      .search-help-text {
        color: @c-gray-heavy-light;
      }
      input.search-form-input_dark {
        background-color: #a9adaf;
        color: @c-white;
        &:hover, &:focus {
          background-color: @c-gray-mid-dark;
        }
        &::-webkit-input-placeholder {
          color: @c-white;
        }
        &:-moz-placeholder {
          color: @c-white;
          opacity: 1;
        }
        &::-moz-placeholder {
          color: @c-white;
          opacity: 1;
        }
        &:-ms-input-placeholder {
          color: @c-white;
        }
        &:focus {
          &::-webkit-input-placeholder {
            color: @c-gray-mid-dark;
          }
          &:-moz-placeholder {
            color: @c-gray-mid-dark;
            opacity: 1;
          }
          &::-moz-placeholder {
            color: @c-gray-mid-dark;
            opacity: 1;
          }
          &:-ms-input-placeholder {
            color: @c-gray-mid-dark;
          }
        }
      }
    }
  }
  
  .carrier-dashboard-header {
    background: @c-white;
    border-bottom: 1px solid @c-gray-light;
    > div {
      display: flex;
    }
    li {
      margin-bottom: 0;
    }
    .header-label {
      font-weight: @fw-bold;
      color: @c-blue;
      margin-right: 5px;
    }
  }
  
  .carrier-dashboard-header_left {
    text-transform: uppercase;
  }
  
  .carrier-dashboard-header_right {
    text-align: right;
    a {
      color: @c-dark-grey;
    }
    li {
      padding-left: 13px;
      padding-right: 13px;
    }
  }