<div class="gm-info-window">
  <div class="gm-overlay-header">
    <h2 class="load-number">
      <a ui-sref="{{$ctrl.loadDetails}}({loadId: $ctrl.mapPoint.loadGuid})">{{$ctrl.mapPoint.loadId}}</a>
    </h2>
    <div class="btn btn-default">
      View Map
    </div>
  </div>
  <div class="gm-overlay-body">
    <div class="load-info">
      <location location="$ctrl.mapPoint.pickUp" />
      <div class="load-col load-direction">
        <span class="echo-icon icon-right-arrow-dark"></span>
      </div>
      <location location="$ctrl.mapPoint.delivery" />
    </div>
  </div>
  <div class="gm-overlay-footer">
    <div class="driver-contact">
      <span>{{$ctrl.mapPoint.driver.firstName}} {{$ctrl.mapPoint.driver.lastName | firstCharacter}}</span>
      <br>
      <span class="small">{{$ctrl.mapPoint.driver.phone | phoneNumber}}</span>
    </div>
    <driver-captured-location location="$ctrl.mapPoint.currentLocation" time-stamp="$ctrl.mapPoint.timeStamp" captured-by="$ctrl.mapPoint.capturedBy" />
  </div>
</div>
