.selection-name {
  margin-bottom: 60px;
  h1 {
    font-size: 30px;
    margin: 0;
    text-transform: none;
  }
}

.selection-users {
  margin-bottom: 60px;
  .selection-header {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: solid 1px @c-gray-light;
  }
}

.echo-icon.icon-left-arrow {
  height: 12px;
  width: 12px;
  margin-right: 5px;
}