<footer class="footer">
  <carrier-admin-footer ng-if="!$ctrl.user.isRepAdmin()" rep-details="$ctrl.repDetails"></carrier-admin-footer>
  <div class="footer-secondary">
    <div class="container">
      <div class="pull-left">
        <div ng-if="$ctrl.user.isRepAdmin()" class="navbar-brand">
          ECHO
        </div>
        <div ng-if="!$ctrl.user.isRepAdmin()">
          <billing-questions phone-number="$ctrl.repDetails.getPhoneNumber()"></billing-questions>
        </div>
      </div>
      <div class="pull-right">
        <span class="copyright">
              Copyright 2016 Echo Global Logistics
            </span>
        <ul class="list-inline footer-nav navbar-right">
          <li>Terms &amp; Conditions</li>
          <li>Privacy Policy</li>
        </ul>
      </div>
    </div>
  </div>
</footer>
