<div class="load-map">
  <div ng-if="$ctrl.showLoading" class="loading-map">
    <loading show-loading="$ctrl.showLoading" overlay="false"></loading>
  </div>
  <google-maps ng-if="!$ctrl.showLoading && $ctrl.showMap" ng-class="{'detailed': $ctrl.detailedInfo}" popup-offset="$ctrl.popupOffset" center="$ctrl.mapCenter" total-points="$ctrl.mapPoints.length">
    <google-maps-marker ng-repeat="mapPoint in $ctrl.mapPoints" position="mapPoint.position">
      <google-maps-info-window>
        <detailed-info-window ng-if="$ctrl.detailedInfo" map-point="mapPoint"></detailed-info-window>
        <basic-info-window ng-if="!$ctrl.detailedInfo" map-point="mapPoint"></basic-info-window>
      </google-maps-info-window>
    </google-maps-marker>
  </google-maps>
</div>
