//IMPORTANT: NO CSS IN THIS FILE

// Color Palette (as LESS variables)
//
// #0a141a - @c-dark-blue-1
// #00629b - @c-blue-1
// #c10054 - @c-red-1
// #910048 - @c-red-2
// #6c6c70 - @c-gray-1
// #000000 - @c-black
// #ffffff - @c-white
//
// Markup:
// <span style="background: {$modifiers}; display: inline-block; width: 300px; height:64px;"></span>
//
// Styleguide 1.1
//---------------------------------
//---------------------------------

@c-dark-blue-1: #0a141a;
@c-dark-blue-2: #304457; // Header

@c-blue-1:      #00629b;
@c-blue-2:      rgb(0, 112, 205);
@c-blue-3:      #31a5df; // Header Brand

@c-red-1:       #c10054;
@c-red-2:       #910048;

@c-gray-1:      #6c6c70;
@c-gray-2:      #2b363b; // Footer
@c-gray-3:      #b2bbc5; // Footer color txt
@c-gray-4:      #f7f7f7; // Body bg
@c-gray-5:      #a4b3bc; // Header Nav
@c-gray-6:      #434546; // Header Nav

@c-gray-7:      #838585; // add item here text
@c-gray-8:      #e7e8e8; // add item here background

@c-black:       #000000;
@c-white:       #ffffff;

// Mappings
//---------------------------------
//---------------------------------

// Named Colors
@c-cool-gray: @c-gray-3;
@c-dark-sky-blue: @c-blue-3;
@c-dark-gray-blue: @c-dark-blue-2;
@c-bkgrd: @c-gray-4;

// Body
@c-body:        @c-dark-blue-1;
@c-body-bg:     @c-gray-4;

// Headings
@c-headings:    @c-black;
@c-header-border-color: @c-blue-1;

@c-btn-alert:         @c-white;
@c-btn-alert-bg:      @c-red-1;
@c-btn-alert-border:  @c-red-1;

// Navbar
@c-navbar-bg:         @c-dark-blue-2;
@c-navbar-color:      @c-blue-2;
@c-navbar-link-color: @c-blue-3;
@c-navbar-link-hover-color: @c-blue-3;
@c-navbar-link-active-color: @c-blue-3;
@c-navbar-brand-bg-color: @c-blue-3;

// Footer
@c-footer-bg:         @c-gray-2;
@c-footer-color:      @c-gray-3;
