//IMPORTANT: NO CSS IN THIS FILE

// Color Palette (as LESS variables)
//
// #0a141a - @c-dark-blue-1
// #00629b - @c-blue-1
// #c10054 - @c-red-1
// #910048 - @c-red-2
// #6c6c70 - @c-gray-1
// #000000 - @c-black
// #ffffff - @c-white
//
// Markup:
// <span style="background: {$modifiers}; display: inline-block; width: 300px; height:64px;"></span>
//
// Styleguide 1.1
//---------------------------------
//---------------------------------

@c-black:       #000000;
@c-white:       #ffffff;

@c-blue:            #002981;
@c-bright-blue:     #26c1fb;
@c-bright-blue-dark:#1e9ac9;

@c-green:           #40ae49;
@c-green-dark:      #264f47;

@c-gray-lightest:   #f0f0f0;
@c-gray-light:      #e1e2e3;
@c-gray-mid-light:  #d4d5d7;
@c-gray-heavy-light:  #a9adaf;

@c-slate-grey:      #525966;
@c-dark-grey:       #414344;
@c-black:           #162337;
@c-black-014:       rgba(0,0,0,0.14);

// new color names
@c-gray-mid-dark:   #505c61;
@c-gray-darkest:    #2b363b;


@c-error:         #eb004b;
@c-alert:           #f18300;

// Mappings
//---------------------------------
//---------------------------------

// Body
@c-body:        @c-dark-grey;
@c-body-bg:     @c-gray-lightest;

// Headings
@c-headings:    @c-black;
@c-header-border-color: @c-black;

@c-btn-alert:         @c-white;
@c-btn-alert-bg:      @c-error;
@c-btn-alert-border:  @c-error;
@c-danger: @c-error;
@state-danger-text: @c-error;