// A list of all icons. Note that grunticon is not in this boilerplate. For automation of icon creation, add that and
// use this file just to set the width/height/margin/padding/color/etc of icons.

.echo-icon {
    display: inline-block;
}

.icon-left-arrow {
  background: url("../assets/images/iconarrow-blue@2x.png");
  background-size: cover;
}

.icon-portal-user {
  height: 17px;
  width: 19px;
}

.icon-driver {
  height: 17px;
  width: 18px;
}

.icon-question {
  height: 21px;
  width: 21px;
}