// A list of all icons. Note that grunticon is not in this boilerplate. For automation of icon creation, add that and
// use this file just to set the width/height/margin/padding/color/etc of icons.
.fill-echo-icon(@color) {
   g {
    fill: @color;
  }
}

.echo-icon {
  display: inline-block;
}


.icon-left-arrow {
  background: url("../assets/images/iconarrow-blue@2x.png");
  background-size: cover;
}

.icon-portal-user {
  height: 17px;
  width: 19px;
}

.icon-driver {
  height: 17px;
  width: 18px;
}

.icon-question {
  height: 21px;
  width: 21px;
}

.icon-plus {
  height: 43px;
  width: 43px;
}

.icon-close {
  height: 11px;
  width: 11px;
}

.icon-check-grey, .icon-check-approved {
  position: relative;
  top: 0.5rem;
  width: 21px;
  height: 21px;
  margin-right: 9px;
}

.icon-left-chevron, .icon-right-chevron {
  height: 12px;
  width: 9px;
  margin-top: 4px;
}

.icon-calendar-gray {
  width: 18px;
  height: 18px;
}

.icon-right-arrow-dark {
    height: 18px;
    width: 23px;
}

.icon-dnd {
    height: 14px;
    width: 14px;
}

.icon-document {
  height: 18px;
  width: 16px;
}

.icon-warning {
  height: 13px;
  width: 13px;
}

.icon-add-pencil {
  height: 14px;
  width: 10px;
}

.icon-window{
  width: 15px;
  height: 15px;
  margin-left: 5px;
}