//IMPORTANT: NO CSS IN THIS FILE

// Font Weights (as LESS variables)
//
// 300 - @fw-light
// 400 - @fw-normal
// 500 - @fw-medium
// 700 - @fw-bold
//
// Markup:
// <span style="font-weight: {$modifiers}; font-size: 2rem;">The quick brown fox jumps over the lazy dog</span>
//
// Styleguide 2.1
//---------------------------------
//---------------------------------
@fw-light: 300;
@fw-normal: 400;
@fw-medium: 500;
@fw-bold: 700;

// Body
@fs-body: 14px;

// Headings
@fs-h1: 3.2rem;
@fs-h2: 3.2rem;
@fs-h3: 2.8rem;
@fs-h4: 2.4rem;
@fs-h5: 2.0rem;
@fs-h6: 1.2rem;

// Font sizes
@fs-small: 1.2rem;
@fs-medium: 1.6rem;
@fs-large: 1.8rem;
@fs-xl: 2.0rem;

// Brand
@fs-brand: 4.0rem;

// Buttons
@fs-btn: 1.4rem;

// Footer Mappings
@fs-footer-h1: 2.2rem;
@fs-footer-h2: 3rem;

@fs-footer-icon: 2rem;
@fs-footer: 1.2rem;
@fs-footer-sm: 1.3rem;
