<nav>
  <ul class="pagination" ng-if="$ctrl.numberOfPages > 1">
    <li>
      <a ng-click="$ctrl.previousPage()" href="javascript:void(0)">
        <span class="echo-icon icon-left-chevron"></span>
      </a>
    </li>
    <li ng-repeat="page in $ctrl.pages" ng-class="{'active-page': $ctrl.pagingModel.selectedPage === page}">
      <a ng-click="$ctrl.pageClick(page)" href="javascript:void(0)">{{page}}</a>
    </li>
    <li>
      <a ng-click="$ctrl.nextPage()" href="javascript:void(0)">
        <span class="echo-icon icon-right-chevron"></span>
      </a>
    </li>
  </ul>
  <div class="pull-right" ng-if="$ctrl.pages.length > 1">
    {{$ctrl.pagingModel | paging: $ctrl.recordType:$ctrl.pagingModel.offset}}
  </div>
</nav>