<div class="unassigned-driver">
  <typeahead-search search-service="$ctrl.searchDrivers(val)" on-select-callback="$ctrl.onSelectCallback(selection)" template="app/common/components/typeahead-search/templates/driver-results/driver-results.template.html" on-select-callback="$ctrl.selectedLocation(selection)" placeholder-text="Find a Driver"></typeahead-search>
  <unassigned-driver-list ng-if="$ctrl.state === $ctrl.states.driverList" selected-driver="$ctrl.newDriver" carrier-id="$ctrl.carrierId" load-id="$ctrl.loadId" remove-callback="$ctrl.removeDriverCallback()"></unassigned-driver-list>
  <selected-driver ng-if="$ctrl.state === $ctrl.states.selectedDriver" driver="$ctrl.selectedDriver"  remove-callback="$ctrl.removeDriverCallback()" load-id="$ctrl.loadId" show-status="true" show-title="true" submit-control="$ctrl.submitControl"></selected-driver>
  <div class="modal-action-links">
    <a class="btn btn-link" ng-click="$ctrl.inviteNewDriverCallback()">Invite a New Driver</a>
    <a class="btn btn-link" ui-sref="{{$ctrl.viewAllDrivers}}">View All Drivers</a>
  </div>
</div>
