.filter-bar-wrap {
  position: relative;
  .filter-bar {
    background-color: #f7f7f7;
    padding: 30px;
    color: #a9adaf;
    text-transform: uppercase;
    margin: 20px 0;
    .label {
      font-size: 10px;
      line-height: 14px;
      color: #505c61;
      font-weight: normal;
      margin-right: 20px;
    }
    .btn-filter {
      margin-right: 10px;
    }
    .filter-summary {
      font-size: 12px;
      line-height: 16px;
      margin-left: auto;
      h5 {
        letter-spacing: 0.5px;
        margin: 0;
        font-family: @heading-font;
        font-size: 20px;
        line-height: 20px;
      }
    }
  }
}