<div class="my-company-user-profile">
  <a class="btn btn-link" ng-click="$ctrl.userProfileCompleted()">
    <div class="echo-icon icon-left-arrow" data-grunticon-embed></div>Back To Portal User List</a>
  <div class="row">
    <div class="col-sm-6">
      <portal-user-profile portal-user="$ctrl.portalUser" show-loading="$ctrl.showLoading" user-updated-handler="$ctrl.userProfileCompleted()">
        <button class="btn btn-default" ng-click="$ctrl.userProfileCompleted()">
          Back to Portal User List
        </button>
      </portal-user-profile>
    </div>
    <div class="col-sm-6">
      <resend-invite ng-if="$ctrl.portalUser.Id"></resend-invite>
    </div>
    </div>
    </row>
  </div>