.dashboard {
  min-height: 500px;
  position: relative;
  .mail-icon {
    content: url('../assets/images/mail-icon-gray.png');
  }
  .section-sub-label {
    padding-left: 15px;
  }
  .section-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    margin-bottom: 20px;
  }
  .section-label {
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 0
  }
  section {
    margin-top: 40px;
  }
  .multi-stop-loads {
    margin-bottom: 60px;
  }
  .no-loads-message {
    height: 150px;
    background: @c-gray-light;
    h3 {
      padding-top: 40px;
    }
    div, h3 {
      padding-left: 40px;
    }
  }
}
