//------------------------------------
    #buttons
//------------------------------------

.btn
  padding: 12px 19px 9px
  font-size: 22px
  font-family: $heading-font
  text-transform: uppercase
  letter-spacing: 0.5px
  line-height: 0.9
  text-shadow: none
  border-radius: 2px
  transition: all 0.2s ease-in

  /////////////
  // General button styles
  /////////////

  &.btn-default
    color: $bright-blue
    padding: 10px 19px 7px
    border: solid 2px $bright-blue
    background-color: #fff
    
    &:hover
      color: #fff
      background-color: $bright-blue

    &:active,
    &:focus
      color: #fff
      outline: none
      box-shadow: none
      border: solid 2px $bright-blue
      background-color: darken($bright-blue, 10%)

  &.btn-primary
    color: #fff
    border: none
    background-color: $green

    &:hover
      background-color: darken($green, 10%)

    &:active,
    &:focus
      outline: none
      box-shadow: none
      background-color: darken($green, 15%)

  &.btn-warning
    border: none
    background-color: $error

    &:hover
      background-color: #cc4435

    &:active,
    &:focus
      outline: none
      box-shadow: none
      background-color: #b33c2e

  &.btn-link
    color: $bright-blue
    font-family: $body-font
    font-size: 12px
    line-height: 1.4
    text-transform: none
    letter-spacing: 0
    padding: 20px 0


    &.btn-alt
      text-decoration: underline
      color: $gray-mid-light
      &:hover
        text-decoration: none

    &.btn-sm
      font-size: 12px
      padding: 0

  /////////////
  // Unique button styles
  /////////////

  &.btn-filter
    color: $gray-mid-light
    border-color: $gray-mid-light

    &:hover
      color: #fff
      background-color: $gray-mid-light
    
    &:active,
    &:focus
      color: #fff
      background-color: $gray-mid-light


  &.btn-icon
    padding: 0
    border: none
    background: none

    &:hover
      background: none


  &.btn-back
    img 
      vertical-align: baseline