//------------------------------------
    #form
//------------------------------------


label
  font-size: 11px
  font-weight: 400
  color: $light-grey
  line-height: 1.3
  letter-spacing: 1.1px
  text-transform: uppercase

.form-control
  color: $dark-blue
  box-shadow: none
  padding-left: 0
  border-radius: 0
  border-width: 0 0 2px 0
  border-color: $light-grey

  &::-webkit-input-placeholder
    color: $light-grey
  &::-moz-placeholder
    color: $light-grey
  &:-ms-input-placeholder
    color: $light-grey

  &:focus
    box-shadow: none
    outline: none

input[type="radio"], 
input[type="checkbox"]
  margin-top: 0

.checkbox,
.radio
  
  &.control
    display: block