//------------------------------------
    #form
//------------------------------------

fieldset + fieldset
  margin-top: 40px

legend
  color: $gray-darkest
  font-size: 14px
  font-weight: 600
  line-height: 1.4
  text-transform: uppercase
  margin: 0 0 20px
  border-bottom: none

label
  font-size: 11px
  font-weight: 400
  color: $gray-mid-dark
  line-height: 1.3
  letter-spacing: 1.1px
  text-transform: uppercase
  transition: color 0.2s ease-in

.form-group
  margin-bottom: 30px
  position: relative

  &:last-child
    margin-bottom: 0

  &:hover
    label
      color: $gray-darkest
      font-weight: 600

    .form-control
      border-color: $gray-darkest

.form-control
  color: $gray-darkest
  box-shadow: none
  padding-left: 0
  border-radius: 0
  border-width: 0 0 1px 0
  border-color: $gray-mid-light

  &::-webkit-input-placeholder
    color: $gray-mid-light
  &::-moz-placeholder
    color: $gray-mid-light
  &:-ms-input-placeholder
    color: $gray-mid-light

  &:focus
    box-shadow: none
    outline: none
    border-color: $gray-darkest

.form-group-inline
  display: inline-block

.form-inline-editing
  .form-control
    background-color: transparent

input[type="radio"],
input[type="checkbox"]
  margin-top: 0

.select
  select
    padding-left: 0
    border-radius: 0
    border-bottom: 1px solid $gray-mid-light
    background-color: transparent

    &:focus
      box-shadow: 0 0 0 .075rem #fff, 0 0 0 .1rem $gray-mid-light

.control
  input:checked ~ .control-indicator
    background-color: $gray-light
    background-image: image_url('checkbox-check.svg')

  input:active ~ .control-indicator
    background-color: #f7f7f7

  input:focus ~ .control-indicator
    box-shadow: 0 0 0 0


.checkbox,
.radio
  label
    letter-spacing: 0
    font-weight: 300 !important

  &:hover
    label
      font-weight: 300

  .control:hover .control-indicator
    background: $gray-light

  &.control
    display: block


.checkbox
  .control-indicator
    border-radius: 0

  &.control-x,
  &.control-lrg
    padding-left: 30px
    height: 30px
    margin-top: 0
    margin-bottom: 0

    .checkbox input[type="checkbox"]
      margin-left: -40px

    .control-indicator
      top: 0
      width: 30px
      height: 30px
      border-radius: 4px
      background-color: #fff
      border: solid 1px $gray-light

  &.control-x
    input:checked ~ .control-indicator
      background-color: #fff
      background-image: image-url("icon-remove.svg")

  &.control-lrg
    .control-indicator
      
    input:checked ~ .control-indicator
      border: solid 1px $green
      background-color: $green
      background-image: image-url("icon-checkmark-wht.svg")


/////////////
// form info classes
/////////////

.help-block
  font-size: 12px
  line-height: 1.3
  margin-bottom: -10px

.has-error
  .form-control
    box-shadow: none
    border-color: $danger

    &:focus
      box-shadow: none
      border-color: $danger

  .help-block
    color: $danger

.is-approved
  &:before
    content: image-url('icon-approve.svg')
    position: absolute
    left: -15px
    bottom: 7px
    width: 11px

    +tablet
      left: -20px
