//------------------------------------
    #table
//------------------------------------


table.table
  
  tr > th
    color: $dark-blue
    font-size: 12px
    line-height: 2
    text-transform: uppercase