//------------------------------------
    #typography
//------------------------------------

body
  color: $dark-grey
  font-family: $body-font

a
  color: $bright-blue
  transition: all 0.2s ease-in