//------------------------------------
    #typography
//------------------------------------

body
  color: $dark-grey
  font-family: $body-font
  font-smoothing: antialiased
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: $bright-blue
  transition: all 0.2s ease-in