<div class="password-validation password-check">
  <p>Password should contain:</p>
  <ul class="checklist">
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.hasUpperCase()}">
      <span class="echo-icon {{$ctrl.passwordChange.hasUpperCase() ? 'icon-check-approved' : 'icon-check-grey'}}"></span>
      At least 1 uppercase letter
    </li>
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.hasLowerCase()}">
      <span class="echo-icon {{$ctrl.passwordChange.hasLowerCase() ? 'icon-check-approved' : 'icon-check-grey'}}"></span>
      At least 1 lowercase letter
    </li>
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.hasNumber()}">
      <span class="echo-icon {{$ctrl.passwordChange.hasNumber() ? 'icon-check-approved' : 'icon-check-grey'}}"></span>
      At least 1 number
    </li>
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.isValidLength()}">
      <span class="echo-icon {{$ctrl.passwordChange.isValidLength() ? 'icon-check-approved' : 'icon-check-grey'}}"></span>
      At least 8 characters
    </li>
  </ul>
</div>