<div class="password-validation password-check">
  <p>Password should contain:</p>
  <ul class="checklist">
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.hasUpperCase()}">At least 1 uppercase letter</li>
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.hasLowerCase()}">At least 1 lowercase letter</li>
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.hasNumber()}">At least 1 number</li>
    <li ng-class="{'checklist-approved': $ctrl.passwordChange.isValidLength()}">At least 8 characters</li>
  </ul>
</div>