.filter-bar-wrap
  .filter-bar
    .label Filter By
    = link_to 'POD Needed', '#', class: 'btn btn-filter'
    = link_to 'Invoice Needed', '#', class: 'btn btn-filter'
    %span.filter-summary
      %h5 20 Loads
      By Last Delivery Stop