.filter-bar-wrap
  .filter-bar
    .label Filter By
    = link_to '#', class: 'btn btn-filter btn-filter-invoice filter__assigned' do
      Submitted
      %br
      %small $398,9876.54
    = link_to '#', class: 'btn btn-filter btn-filter-invoice filter__assigned' do
      In Review
      %br
      %small $9876.54
    = link_to 'Approved', '#', class: 'btn btn-filter'
    = link_to 'Paid', '#', class: 'btn btn-filter'
    %span.filter-summary
      %h5 119 Invoices
      By received date