.filter-bar
  .label Filter By
  = link_to 'Pickups Today', '#', class: 'btn btn-filter'
  = link_to 'Deliveries Today', '#', class: 'btn btn-filter'
  = link_to 'Stop Location', '#', class: 'btn btn-filter'
  = link_to 'APPT. Date', '#', class: 'btn btn-filter btn-single-dp'
  %span.filter-summary
    %h5 20 Loads
    By Next Appointment