%footer.footer
  .container
    .navbar-brand
      ECHO
    .pull-right
      %span.copyright
        Copyright
        :javascript
          document.write(new Date().getFullYear())
        Echo Global Logistics

      %ul.list-inline.footer-nav.navbar-right
        %li=link_to 'Terms &amp; Conditions', '#', class: ''
        %li=link_to 'Privacy Policy', '#', class: ''