
%header.navbar

  = partial 'partials/eyebrow'

  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type:'button', data: {toggle: 'collapse', target: "#main-nav"}}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        ECHO
        %small.brand-carrier Carrier Company "A" Name
    %nav#main-nav.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li=link_to 'Dashboard', '#', class: ''
        %li=link_to 'Load Management', '#', class: ''
        %li=link_to 'Invoicing', '#', class: ''
        %li.active=link_to 'My Company', '#', class: ''
