
%header.navbar

  .eyebrow-header
    .container

      %ul.eyebrow-nav.list-inline.navbar-right
        %li.active=link_to 'My Carriers', '#', class: 'link-mycarriers'
        %li=link_to 'Settings', '#', class: 'link-settings'
        %li
          =link_to '#', class: 'link-signout' do
            Sign Out
            =image_tag 'icon-signout@2x.png', class: ''
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{type:'button', data: {toggle: 'collapse', target: "#main-nav"}}
        %span.sr-only
          Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .navbar-brand
        %span
          =image_tag 'logo-echo.svg', alt: "Echo Logo"
