.container.carrier-dashboard-header

  %ul.list-inline.carrier-dashboard-header_left
    %li
      %strong 21 Loads Located
    %li
      = link_to 'View Full Map', '#'

  %ul.list-inline.carrier-dashboard-header_right
    %li
      %span.carrier-dashboard-header_label ECHO REP
      Danielle John
    %li
      =image_tag('mail-icon-gray@2x.png', width: '15px', height: '15px')
      =link_to 'danielle.john@echoLogistics.com', 'mailto:danielle.john@echoLogistics.com'
    %li
      (610) 555-1212