#loads-accordion.panel-group{role:"tablist"}
  .panel
    .panel-heading
      %h4.panel-title
        =link_to '#panel-collapse-1', {:role => 'button', :data => {toggle: 'collapse'}, :aria => {expanded: "true", controls: "panel-collapse-1"}} do
          <strong>Invoice Number</strong> 1234567
          %span.pull-right
            %strong Status
            Paid
            .caret

    #panel-collapse-1.panel-collapse.collapse.in{role: "tabpanel"}
      .panel-body.load-details

        %h4.section-header.sh-no_border.section-header_items
          Invoiced
          %em
            Jun 20 2016
          %span
            Received
            %em
              JUN 26 2016
          .pull-right
            %span
              Amount
              %em
                $1850.00

        %section.well
          %table.table.table-minimal.table-invoice-details
            %thead
              %tr
                %th Activity
                %th Quantity
                %th Rate
                %th Amount
            %tbody
              %tr
                %td Line Haul
                %td 1.0
                %td $1,200.00
                %td $1,200.00
              %tr
                %td Fuel Surcharge
                %td 1.0
                %td $650.00
                %td $650.00
            %tfoot
              %tr
                %td{colspan: '3'} Total
                %td <strong>$1,850.00</strong>
              %tr
                %td{colspan: '3'} Amount Paid
                %td <strong>$1,850.00</strong>
              %tr
                %td{colspan: '3'} Balance Due
                %td <strong>$0.00</strong>

        %h4.section-header.sh-no_border.section-header_items
          Paid Invoices
          .pull-right
            %span
              Total Paid
              %em
                $1850.00

        %section.well
          %table.table.table-minimal.table-invoice-details
            %thead
              %tr
                %th PAID DATE
                %th CHECK / ACH NUMBER
                %th CHECK DATE
                %th Amount
            %tbody
              %tr
                %td JUN 26 2016
                %td 6572989
                %td JUN 20 2016
                %td $1,850.00

%h1.section-label
  STOPS
.panel-group{role:"tablist"}
  .panel
    .panel-heading.panel-closed
      %h4.panel-title
        =link_to '#panel-collapse-2', {:role => 'button', :data => {toggle: 'collapse'}, :aria => {expanded: "true", controls: "panel-collapse-2"}, :class => 'collapsed'} do
          <strong>Delivery 1</strong> Austin, TX 45678
          %span.stops-date 
            Fri, Jun 3 from 14:00-15:00 EST
            .caret

    #panel-collapse-2.panel-collapse.collapse{role: "tabpanel"}
      .panel-body.load-details
        .row
          .details-location.col-sm-4
            %h5.small-header Location
            %span.loc-name Walmart Warehouse A34 
            %br
            %span.loc-addr1 555 W. Western
            %br
            %span.loc-addr2 Dock #123
            %br
            %span.loc-region Bartville, IN
            %br
            =link_to 'Open In Maps', '#'

          .details-contact.col-sm-3
            %h5.small-header Contact
            Bob Peterson
            %br
            (312) 555-1212

          .details-notes.col-sm-5
            %h5.small-header Notes from customer
            .read-more-block
              .read-more-content
                %p DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime. DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime. DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime
              =link_to 'Read more', '#', class: 'btn-read-more'

        .load-items-details
          %h4.section-header.sh-med.section-header_items
            Items to Pick Up
            .pull-right
              %span.items-pickup-number
                Pickup Number
                %em
                  56783456
              %span.items-total-weight
                Stop Total
                %em
                  18680 LBS

          .items-lists
            %section.item-list.well
              %article.item-content
                %p Ser# A84884-516A (1) Lektro Pushback 17' x 8' x 6' @5000lbs
                %p 1 EA, Floor Handling Unit
                %p This could contain more items in plain text
                %p This could contain more items in plain text

            %section.item-list.well
              %article.item-content
                %p Paper Goods
                %p Skids Handling Unit <br>13680 lb

  .panel
    .panel-heading.panel-closed
      %h4.panel-title
        =link_to '#panel-collapse-3', {:role => 'button', :data => {toggle: 'collapse'}, :aria => {expanded: "true", controls: "panel-collapse-3"}, :class => 'collapsed'} do
          <strong>Delivery 2</strong> Winchester-on-the-Severn, TX 45678
          %span.stops-date 
            Fri, Jun 3 from 14:00-15:00 EST
            .caret

    #panel-collapse-3.panel-collapse.collapse{role: "tabpanel"}
      .panel-body.load-details
        .row
          .details-location.col-sm-4
            %h5.small-header Location
            %span.loc-name Walmart Warehouse A34 
            %br
            %span.loc-addr1 555 W. Western
            %br
            %span.loc-addr2 Dock #123
            %br
            %span.loc-region Bartville, IN
            %br
            =link_to 'Open In Maps', '#'

          .details-contact.col-sm-3
            %h5.small-header Contact
            Bob Peterson
            %br
            (312) 555-1212

          .details-notes.col-sm-5
            %h5.small-header Notes from customer
            .read-more-block
              .read-more-content
                %p DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime. DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime. DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime
              =link_to 'Read more', '#', class: 'btn-read-more'

        .load-items-details
          %h4.section-header.sh-med.section-header_items
            Items to Pick Up
            .pull-right
              %span.items-pickup-number
                Pickup Number
                %em
                  56783456
              %span.items-total-weight
                Stop Total
                %em
                  18680 LBS

          .items-lists
            %section.item-list.well
              %article.item-content
                %p Ser# A84884-516A (1) Lektro Pushback 17' x 8' x 6' @5000lbs
                %p 1 EA, Floor Handling Unit
                %p This could contain more items in plain text
                %p This could contain more items in plain text

            %section.item-list.well
              %article.item-content
                %p Paper Goods
                %p Skids Handling Unit <br>13680 lb
