%table.table.table-invoice
  %thead
    %tr
      %th Invoice #
      %th Received Date
      %th Status
      %th
        Invoice Amount
        %hr
        Balance Remaining
      %th Load Number
      %th Pro Number
      %th Lane ID
      %th
        Picked Up
        %hr
        Delivered
  %tbody

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Jersey City, NJ
        %br
        Marietta, GA
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016
    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $1,800.82
        %br>
        .text-warning
          $1,175.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        867473355
      %td.invoice-lane
        Little Rock, AR
        %br
        Houston, TX 
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Chicago, IL
        %br
        Indianapolis, IN
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Jersey City, NJ
        %br
        Marietta, GA
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016
    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $1,800.82
        %br>
        .text-warning
          $1,175.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        867473355
      %td.invoice-lane
        Little Rock, AR
        %br
        Houston, TX 
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Chicago, IL
        %br
        Indianapolis, IN
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Jersey City, NJ
        %br
        Marietta, GA
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016
    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $1,800.82
        %br>
        .text-warning
          $1,175.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        867473355
      %td.invoice-lane
        Little Rock, AR
        %br
        Houston, TX 
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Chicago, IL
        %br
        Indianapolis, IN
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-total
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00
      %td.invoice-load-number
        =link_to '123443211', '#'
      %td.invoice-pro-number
        1234567890
      %td.invoice-lane
        Chicago, IL
        %br
        Indianapolis, IN
      %td.invoice-dates
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016
