%table.table.table-invoicing
  %thead
    %tr
      %th Invoice #
      %th Received Date
      %th
        Status
        %hr
        Reason Code
      %th
        Load Number
      %th
        Lane ID
      %th.text-right
        Scheduled
        %hr
        Delivered
      %th.text-right
        Invoice Total
        %hr
        Balance Due
  %tbody

    %tr
      %td.invoice-number
        =link_to '#' do
          1234567
          =image_tag 'icon-document.svg'

      %td.invoice-received-date
        Feb 3 2016
      %td.invoice-status
        %strong In Review
        %br
        Weight Discrepancy
      %td.invoice-load-number
        =link_to '123443211', '#'
        %p.text-muted.small PRO: 1234567890
      %td.invoice-lane
        .load-info
          .load-col
            Washington-on-the-Brazos, TX
          .load-col
            = image_tag 'icon-right-arrow-dark@2x.png'
          .load-col
            Winchester-on-the-Severn, MA
      %td.invoice-dates.text-right
        %span<
          Feb 3 2016
        %br>
        %span
          Feb 6 2016
      %td.invoice-total.text-right
        %span<
          $10,202.00
        %br>
        .text-warning
          $10,202.00