#loads-accordion.panel-group{role:"tablist"}
  .panel
    #headingOne.panel-heading
      %h4.panel-title
        =link_to '#collapseOne', {:role => 'button', :data => {toggle: 'collapse', parent: '#loads-accordion'}, :aria => {expanded: "true", controls: "collapseOne"}} do
          <strong>PICKUP</strong> Memphis, TN 60655
          %span.stops-date 
            Today from 14:00-15:00 EST
            .caret

    #collapseOne.panel-collapse.collapse.in{role: "tabpanel"}
      .panel-body.load-details
        .row
          .details-location.col-md-4
            %h5.small-header Location
            %span.loc-name Walmart Warehouse A34 
            %br
            %span.loc-addr1 555 W. Western
            %br
            %span.loc-addr2 Dock #123
            %br
            %span.loc-region Bartville, IN
            %br
            =link_to 'Open In Maps', '#'
          
          .details-contact.col-md-3
            %h5.small-header Contact
            Bob Peterson
            %br
            (312) 555-1212

          .details-notes.col-md-5
            %h5.small-header Notes from customer
            %p DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime…
            =link_to 'Read more', '#'

        .load-items-details
          %h4.section-header.sh-med.section-header_items
            Items to Pick Up
            .pull-right
              %span.items-pickup-number
                Pickup Number
                %em
                  56783456
              %span.items-total-weight
                Stop Total
                %em
                  18680 LBS

          .items-lists
            %section.item-list.well
              %article.item-content
                %p Ser# A84884-516A (1) Lektro Pushback 17' x 8' x 6' @5000lbs
                %p 1 EA, Floor Handling Unit
                %p This could contain more items in plain text
                %p This could contain more items in plain text
              %footer.item-footer
                To Delivery 1: Austin, TX 45678
            %section.item-list.well
              %article.item-content
                %p Paper Goods
                %p Skids Handling Unit <br>13680 lb
              %footer.item-footer
                To Delivery 2: Winchester-on-the-Severn, TX
  
  .panel
    #headingTwo.panel-heading
      %h4.panel-title
        =link_to '#collapseTwo', {:role => 'button', :data => {toggle: 'collapse', parent: '#loads-accordion'}, :aria => {expanded: "true", controls: "collapseTwo"}} do
          <strong>Delivery</strong> Austin, TX 45678
          %span.stops-date 
            Fri, Jun 3 from 14:00-15:00 EST
            .caret

    #collapseTwo.panel-collapse.collapse.in{role: "tabpanel"}
      .panel-body.load-details
        .row
          .details-location.col-md-4
            %h5.small-header Location
            %span.loc-name Walmart Warehouse A34 
            %br
            %span.loc-addr1 555 W. Western
            %br
            %span.loc-addr2 Dock #123
            %br
            %span.loc-region Bartville, IN
            %br
            =link_to 'Open In Maps', '#'
          
          .details-contact.col-md-3
            %h5.small-header Contact
            Bob Peterson
            %br
            (312) 555-1212

          .details-notes.col-md-5
            %h5.small-header Notes from customer
            %p DROP trailer 24/7.STRICT DELIVERY DATE. ***TRAILER WILL NOT GET UNLOADED UNTIL THE END OF THE DELIVERY WINDOW DATE*** Can drop @ anytime…
            =link_to 'Read more', '#'

        .load-items-details
          %h4.section-header.sh-med.section-header_items
            Items to Pick Up
            .pull-right
              %span.items-pickup-number
                Pickup Number
                %em
                  56783456
              %span.items-total-weight
                Stop Total
                %em
                  18680 LBS

          .items-lists
            %section.item-list.well
              %article.item-content
                %p Ser# A84884-516A (1) Lektro Pushback 17' x 8' x 6' @5000lbs
                %p 1 EA, Floor Handling Unit
                %p This could contain more items in plain text
                %p This could contain more items in plain text

            %section.item-list.well
              %article.item-content
                %p Paper Goods
                %p Skids Handling Unit <br>13680 lb
