.modal.fade.modal-report.modal-load-mgmt{tabindex: "-1", role: "dialog"}
  .modal-dialog{role:"document"}
    .modal-content

      - if modal == 'report-loaded-new'
        = partial 'partials/modals/report-loaded-new'

      - else
        %h2 This modal does not exist

