.sidebar-list.search-results
  %ul.sidebar-list_alpha
    %li.sidebar-list_letter
      A
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "A"', '#'
        %li.sidebar-selected
          =link_to 'Carrier Company "A"', '#'
        %li.item-inactive 
          =link_to 'Carrier Company "A"', '#'
    %li.sidebar-list_letter 
      B
      %ul.sidebar-list_names
        %li.item-inactive 
          =link_to 'Carrier Company "B"', '#'
        %li 
          =link_to 'Carrier Company "B"', '#'
    %li.sidebar-list_letter 
      C
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "C"', '#'
    %li.sidebar-list_letter 
      D
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "D"', '#'
        %li.item-inactive 
          =link_to 'Carrier Company "D"', '#'              
        %li.item-inactive 
          =link_to 'Carrier Company "D"', '#'
    %li.sidebar-list_letter
      E
      %ul.sidebar-list_names
        %li.item-inactive  
          =link_to 'Carrier Company "A"', '#'
        %li 
          =link_to 'Carrier Company "A"', '#'
        %li 
          =link_to 'Carrier Company "A"', '#'
    %li.sidebar-list_letter 
      F
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "B"', '#'
        %li.item-inactive  
          =link_to 'Carrier Company "B"', '#'
    %li.sidebar-list_letter 
      G
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "C"', '#'
    %li.sidebar-list_letter 
      H
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "D"', '#'
        %li.item-inactive  
          =link_to 'Carrier Company "D"', '#'              
        %li.item-inactive 
          =link_to 'Carrier Company "D"', '#'
    %li.sidebar-list_letter
      A
      %ul.sidebar-list_names
        %li
          =link_to 'Carrier Company "A"', '#'
        %li 
          =link_to 'Carrier Company "A"', '#'
        %li 
          =link_to 'Carrier Company "A"', '#'
    %li.sidebar-list_letter 
      B
      %ul.sidebar-list_names
        %li.item-inactive  
          =link_to 'Carrier Company "B"', '#'
        %li.item-inactive  
          =link_to 'Carrier Company "B"', '#'
    %li.sidebar-list_letter 
      C
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "C"', '#'
    %li.sidebar-list_letter 
      D
      %ul.sidebar-list_names
        %li.item-inactive  
          =link_to 'Carrier Company "D"', '#'
        %li 
          =link_to 'Carrier Company "D"', '#'              
        %li 
          =link_to 'Carrier Company "D"', '#'
    %li.sidebar-list_letter
      E
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "A"', '#'
        %li.item-inactive  
          =link_to 'Carrier Company "A"', '#'
        %li.item-inactive  
          =link_to 'Carrier Company "A"', '#'
    %li.sidebar-list_letter 
      F
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "B"', '#'
        %li 
          =link_to 'Carrier Company "B"', '#'
    %li.sidebar-list_letter 
      G
      %ul.sidebar-list_names
        %li.item-inactive 
          =link_to 'Carrier Company "C"', '#'
    %li.sidebar-list_letter 
      H
      %ul.sidebar-list_names
        %li 
          =link_to 'Carrier Company "D"', '#'
        %li 
          =link_to 'Carrier Company "D"', '#'              
        %li 
          =link_to 'Carrier Company "D"', '#'
