%table.table
  %thead
    %tr
      %th Driver Name
      %th Usage
      %th Tractor
      %th Pref. Language
      %th Current Assignment
      %th Next Assignment
  %tbody
    %tr
      %td 
        %h3.driver-name=link_to 'Julian Turner ', '#'
        <span><tel>(888) 421-2901</tel></span>
      %td App Installed <br/>Tracking Enabled
      %td 2003 1234
      %td English
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
    %tr
      %td 
        %h3.driver-name=link_to 'Julian Turner ', '#'
        <span><tel>(888) 421-2901</tel></span>
      %td App Installed <br/>Tracking Enabled
      %td 2003 1234
      %td English
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
    %tr
      %td 
        %h3.driver-name=link_to 'Julian Turner ', '#'
        <span><tel>(888) 421-2901</tel></span>
      %td App Installed <br/>Tracking Enabled
      %td 2003 1234
      %td English
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
    %tr
      %td 
        %h3.driver-name=link_to 'Julian Turner ', '#'
        <span><tel>(888) 421-2901</tel></span>
      %td App Installed <br/>Tracking Enabled
      %td 2003 1234
      %td English
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'
      %td 
        %h2.load-number=link_to '123443212', '#'
        Active Driver <br/>
        Starts 11:30 CST, Fri Aug 28 <br/>
        =link_to 'Change Driver', '#'