.gm-warehouse-info-window {
  font-family: 'Open Sans';

  width: 300px;

  .gm-info-window-header{
    text-transform: uppercase;
    font-size: 12px;
    padding: 7px 0;
    color: #666666;
    border-bottom: 1px solid #141b1f;
  }

  .gm-info-window-body {
    font-size: 14px;
    padding-top:5px;

    .address-container{
      .warehouse-name {
        font-weight: 600;
      }
    }

    .schedule-container {

      .header {
        padding-top: 5px;
        color: #666666;
        font-size: 12px;
        text-transform: uppercase;
      }
    }
  }

}
