= partial 'partials/modals/modal-header', locals: {assign_text: 'Add Document for'}

.modal-body
  %section.modal-sidebar
    = partial 'partials/modals/modal-sidebar-documents'

  %section.modal-main-content

    .btn.btn-document.btn-dropzone-lg
      .add-type
        ADD A DOCUMENT
        %small You can also drag and drop

    %form.form-inline
      %legend TYPE
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Load Document

      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Invoice

    %hr.hr

    %form.form-doc-upload
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Proof of Delivery #2 (2 Needed)
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Fuel Receipts
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Lumper Receipt
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Scale Tickets
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Bill of Lading
      %label.radio.control
        %input{:type => "radio", :name => "optionsRadios1"}
        %span.control-indicator
        Other


    .modal-action-links
      %button.btn.btn-default.disabled{type: 'button', disabled: 'disabled'} Add Document

.modal-footer
  %button.btn.btn-link.btn-alt{type: "button", data: {dismiss: 'modal'}} CLOSE
