= partial 'partials/modals/modal-header', locals: {assign_text: 'Assign Driver to'}

.modal-body
  %section.modal-sidebar
    = partial 'partials/modals/modal-sidebar'

  %section.modal-main-content
    %h4.content-header Invite A New Driver

    %form
      .row
        .col-sm-6
          .form-group
            %label First Name (Required)
            %input.form-control{:type => "text", :placeholder => ""}
          .form-group
            %label Last Name
            %input.form-control{:type => "password", :placeholder => ""} 
          .form-group
            %label Tractor Number
            %input.form-control{:type => "text", :placeholder => "e.g. 432019-900"} 

        .col-sm-6
          .form-group
            %label Email Address
            %input.form-control{:type => "email", :placeholder => "name@company.com"}
          .form-group
            %label Phone Number (Required)
            %input.form-control{:type => "tel", :placeholder => "( _ _ _ ) _ _ _ - _ _ _ _"} 
          .form-group
            %label Preferred Languange
            .select
              %select.form-control{:type => "select", :placeholder => "Select one..."}
                %option English
                %option Spanish
                %option Latin

    .modal-action-links.modal-action-split
      %a.btn.btn-link.btn-alt{href: '#'}
        = partial 'partials/icon-prev'
        Cancel Invitation

      %a.btn.btn-link{href: '#'}
        Invite &amp; Continue
        = partial 'partials/icon-next'

.modal-footer
  %button.btn.btn-default.disabled{type: 'button', disabled: 'disabled'} Assign Anyway
  %button.btn.btn-link.btn-alt.disabled{type: "button", disabled: 'disabled', data: {dismiss: 'modal'}} CLOSE  
        