%article.sidebar-content
  %h4.small-header Pickup
  .load-citystate
    .load-city Memphis
    .load-st TN, 60655
  .load-datetime
    14:00-15:00 EST
    %br
    Today, Apr 20

%article.sidebar-content
  %h4.small-header Delivery
  .load-citystate
    .load-city Winchester-on-the-Severn
    .load-st TX, 50968
  .load-datetime
    16:00-18:00 EST
    %br
    Fri, May 23

%article.sidebar-content
  %h4.small-header Driver
  .load-citystate
    .load-city Mike P.
    .load-st (312) 555-1212
