%ul.report-timeline

  %li.timeline-status.status-complete
    %h3.status-label
      Empty
    %p.status-datetime
      11:11 EST Tue, Jan 30

  %li.timeline-status.status-complete
    %h3.status-label
      Arrived at Pickup
    %p.status-datetime
      11:11 EST Tue, Jan 30

  %li.timeline-status.status-active
    %h3.status-label
      Loaded
    %p.status-datetime
      11:11 EST Tue, Jan 30

  %li.timeline-status
    %h3.status-label
      Arrived at Delivery
    %p.status-datetime
      11:11 EST Tue, Jan 30

  %li.timeline-status
    %h3.status-label
      Delivery
    %p.status-datetime
      11:11 EST Tue, Jan 30
