%article.sidebar-content
  %h4.small-header Reporting Arrival At
  .load-citystate
    .load-city Walmart Warehouse A24
    .load-st
      555 W. Western <br>
      Dock #123 <br>
      Bartville, IN

%article.sidebar-content
  %h4.small-header Driver
  .load-citystate
    .load-city Mike P.
    .load-st (312) 555-1212
