= partial 'partials/modals/modal-header', locals: {assign_text: 'Report Loaded For'}

.modal-body
  %section.modal-sidebar
    = partial 'partials/modals/modal-sidebar-report'

  %section.modal-main-content

    %h4.content-header Optional Documents
    
    .document-add
      %button.btn.btn-document
        .add-type
          LUMBER RECEIPT
      
      %p.btn-note You can add this later but it is required if your driver lumps.

    .document-add
      %button.btn.btn-document
        .add-type
          SCALE TICKET

.modal-footer.modal-footer-splits
  .btn-group-left
    %button.btn.btn-link.btn-alt{type: "button", data: {dismiss: 'modal'}} CLOSE

  %ul.progress-indicator
    %li.step-complete Step 1
    %li.step-complete Step 2
    %li.step-complete Step 3

  .btn-group-right
    %button.btn.btn-secondary{type: 'button'} Back
    %button.btn.btn-default{type: 'button'} Confirm Loaded