= partial 'partials/modals/modal-header', locals: {assign_text: 'Report Issue'}

.modal-body.report-load-issue
  %section.modal-sidebar
    = partial 'partials/modals/modal-sidebar-report'

  %section.modal-main-content

    .card-group
      .card
        %a{:href => '#'}
          .card-title 
            Weather Delay
            %small.float-right.load-issue-date Sat, Feb 2 2018 at 6:45 CT
          .card-body
            %p
              %strong Reported by: Dispatcher Mike P
            %p
              The whole pass is closed and there's no news about when it will open. I am sad as a bear about it.
            %p
              %strong Location: Moline, IL
      .card
        %a{:href => '#'}
          .card-title 
            Weather Delay
            %small.float-right.load-issue-date Sat, Feb 2 2018 at 6:45 CT
          .card-body
            %p
              %strong Reported by: Dispatcher Mike P
            %p
              The whole pass is closed and there's no news about when it will open. I am sad as a bear about it.
            %p
              %strong Location: Moline, IL
      .card
        %a{:href => '#'}
          .card-title 
            Weather Delay
            %small.float-right.load-issue-date Sat, Feb 2 2018 at 6:45 CT
          .card-body
            %p
              %strong Reported by: Dispatcher Mike P
            %p
              The whole pass is closed and there's no news about when it will open. I am sad as a bear about it.
            %p
              %strong Location: Moline, IL

    .btn-group-left
      %button.btn.btn-default{type: 'button'} Add Another Report

.modal-footer.modal-footer-splits
  .btn-group-center
    %button.btn.btn-link.btn-alt{type: "button", data: {dismiss: 'modal'}} CLOSE
