= partial 'partials/modals/modal-header', locals: {assign_text: 'Verify Driver for'}

.modal-body
  %section.modal-sidebar
    = partial 'partials/modals/modal-sidebar'

  %section.modal-main-content

    .message.message-danger
      %p.text-danger
        An Echo Representative has entered this information about the driver for this load.

      %p.driver-searched
        %strong Alta T.
        &nbsp;
        &nbsp;
        %span.text-muted (952) 796-9653

      %p.text-danger.message-noicon
        We found no matching drivers. Please choose a replacement.

    %form.search-form{role:"search"}
      .form-group
        %input.form-control.search-form-input{type: "text", placeholder:"Find A Driver"}
        %button.btn.btn-default.btn-icon{type:"submit"}=image_tag('icon-search@2x.png', width: '16px', height: '16px')

    .modal-action-links
      %a.btn.btn-link Invite New Driver
      %a.btn.btn-link View All Drivers

.modal-footer
  %button.btn.btn-default{type: 'button', disabled: 'disabled'} Verify
  %button.btn.btn-link.btn-alt{type: "button", date: {dismiss: 'modal'}} CLOSE