.modal-body
  %section.modal-sidebar
    = partial 'partials/modals/modal-sidebar'

  %section.modal-main-content
  
    .well
      %h2.driver-name
        %a{href: '#'} Alfonzo Ali

      %h2 (888) 278-8892

      .small-header Email
      %p ali@email.com

      .small-header Tractor Number
      %p Tractor 12345677

      .small-header Preferred Language
      %p English

  .modal-action-links
    %a.btn.btn-link{href: '#'} Invite a New Driver
    %a.btn.btn-link{href: '#'} View All Drivers

.modal-footer
  %button.btn.btn-default{type: 'button', date: {dismiss: 'modal'}} Assign
  %button.btn.btn-link.btn-alt{type: "button"} CLOSE        


