.pagination {
  margin-top: 0;
  font-weight: @fw-light;
  > li {
    font-size: 14px;
    line-height: 1.4;
    color: gray;
    &:first-child > a, &:first-child > span, &:last-child > a, &:last-child > span {
      line-height: 1.35;
    }
    &.active-page {
      a {
        color: @c-bright-blue;
      }
    }
  }
  > li > a {
    color: @c-gray-mid-light;
    border: none;
    padding-left: 3px;
    padding-right: 3px;
  }

  li.show-current-page a {
    background: none;
  }
}