.documents {
  .load-documents {
    .load-doc{
      border-bottom: 1px solid @c-gray-light;
      cursor: pointer;
    }
    .load-doc.active {
      background: @c-white;
    }
    .load-doc:hover {
      background: @c-white;
    }
  }
}