<div class="documents">
  <h4 class="section-header sh-short">Documents</h4>
  <loading show-loading="$ctrl.showLoading"></loading>
  <div class="load-documents text-center">
    <div class="help-block text-center" ng-if="$ctrl.showError">An error has occurred. Please try again.</div>
    <load-documents selected-document-callback="$ctrl.openDocumentOverviewModal(selectedDocument)" documents="$ctrl.documents"></load-documents>
    <button class="btn btn-document btn-document_primary" ng-click="$ctrl.openInvoiceDocumentUploadModal()">
    <div class="add-type">
      Invoice
    </div>
  </button>
    <button class="btn btn-document" ng-click="$ctrl.openDocumentUploadModal()">
    <div class="add-type">
      Load Documents
      <small>BOLs, Receipts, Scale Tickets</small>
    </div>
  </button>
    <p class="text-center text-muted">
      <small>Accepted File Types: JPEG, PDF, PNG</small>
    </p>
  </div>
</div>