.location-search {
  .dropdown-menu {
    padding: 5px 15px 5px 5px;
    width: 220px;
    max-height: 115px;
    overflow-y: scroll;
    background-color: #fff;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    li {
      color: #2b363b;
      padding: 10px 10px;
      margin-bottom: 0;
      border-bottom: 0;
      &:hover {
        background: #f0f0f0;
      }
    }
  }
}