<div class="active-loads">
  <div class="container-fluid carrier-dashboard-header">
    <div class="container">
      <ul class="list-inline carrier-dashboard-header_left">
        <li>
          <strong ng-if="$ctrl.showMap">{{$ctrl.mapPoints.length}} Loads Mapped</strong>
        </li>
      </ul>
      <echo-rep-contact class="list-inline carrier-dashboard-header_right" rep-details="$ctrl.repDetails"></echo-rep-contact>
    </div>
  </div>
  <load-map show-map="$ctrl.showMap" map-points="$ctrl.mapPoints" detailed-info="true"></load-map>
  <loads-filter filter-text="$ctrl.filterText" load-count="$ctrl.paging.totalRecords">
    <filter-button filter-enabled="$ctrl.isPickUpToday" click-handler="$ctrl.pickupsTodayHandler(value)" button-text="Pickups Today"></filter-button>
    <filter-button filter-enabled="$ctrl.isDeliveriesToday" click-handler="$ctrl.deliveriesTodayHandler(value)" button-text="Deliveries Today"></filter-button>
  </loads-filter>
  <div class="container main-content">
    <load-table rep-details="$ctrl.repDetails" loads="$ctrl.activeLoads" refresh-table-callback="$ctrl.refreshPageData()" load-type="$ctrl.loadType" show-loading="$ctrl.showLoading" carrier-id="$ctrl.carrierId"/>
    <pagination page-click-handler="$ctrl.fetchActiveLoads()" paging-model="$ctrl.paging" record-type="Active Loads" ng-if="!$ctrl.showLoading"></pagination>
  </div>
</div>
