.document-preview {
  position: relative;
  .icon-download {
    width: 14px;
    height: 13px;
    vertical-align: middle;
  }
  .icon-print {
    height: 15px;
    width: 16px;
    vertical-align: middle;
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
document-preview, .document-preview {
  height: 100%;
}