<div>
  <div class="col-wrap">
    <section class="results-selection">
      <loading show-loading="$ctrl.showLoading"></loading>
      <div ng-if="!$ctrl.showLoading">
        <header class="selection-name">
          <a ui-sref="{{$ctrl.dashboardRoute.name}}({carrierId: $ctrl.carrierId})" class="btn btn-default pull-right">View Dashboard</a>
          <h1 class="selection-company">{{$ctrl.carrier.carrierName}}</h1> {{$ctrl.carrier.getFullAddress()}}
        </header>
        <div ng-if="$ctrl.showMode === $ctrl.mode.DETAILS">
          <article class="selection-users">
            <header class="selection-header">
              Portal Users
              <a class="btn btn-link btn-sm" ui-sref="{{$ctrl.usersRoute.name}}({carrierId: $ctrl.carrierId})">View Portal Users</a>
            </header>
            <portal-users portal-users="$ctrl.portalUsers" click-handler="$ctrl.showPortalUserHandler(user)"></portal-users>
          </article>
          <article class="selection-users">
            <header class="selection-header">
              Drivers
              <a ui-sref="{{$ctrl.driverRoute.name}}({carrierId: $ctrl.carrierId})" class="btn btn-link btn-sm">View Drivers</a>
            </header>
            <driver-list driver-count="$ctrl.driverCount" driver-route="$ctrl.driverRoute.name" carrier-id="$ctrl.carrierId" add-driver-handler="$ctrl.showNewDriverProfile()"></driver-list>
          </article>
        </div>
        <div ng-if="$ctrl.showMode === $ctrl.mode.PORTAL_USER">
          <portal-user-profile portal-user="$ctrl.portalUser" is-carrier-admin="$ctrl.isCarrierAdmin" carrier-id="$ctrl.carrierId" show-loading="$ctrl.showLoading" user-updated-handler="$ctrl.loadCarrierDetails()">
            <go-back-button>
              <a ng-click="$ctrl.showDetailsHandler()" class="btn btn-link">
                <div class="echo-icon icon-left-arrow"></div>Back to Details
              </a>
            </go-back-button>
            <success-button>
              <button class="btn btn-default" ng-click="$ctrl.loadCarrierDetails()">
                Back to Carrier Details
              </button>
            </success-button>
          </portal-user-profile>
          <usage ng-if="$ctrl.portalUser.id" user="$ctrl.portalUser" is-portal-user="true"></usage>
        </div>
        <div ng-if="$ctrl.showMode === $ctrl.mode.DRIVER">
          <a ng-click="$ctrl.showDetailsHandler()" class="btn btn-link">
            <div class="echo-icon icon-left-arrow"></div>Back to Details
          </a>
          <driver-profile driver="$ctrl.driver" languages="$ctrl.languages" carrier-id="$ctrl.carrierId" profile-updated-handler="$ctrl.loadCarrierDetails()">
          </driver-profile>
          <usage ng-if="$ctrl.driver.id" user="$ctrl.driver" is-driver="true"></usage>
        </div>
      </div>
    </section>
  </div>
</div>
