.load-table {
  .col-md-12 {
    min-height: 300px;
  }
  .loading {
    background: @c-white;
    opacity: .8;
  }
  .table-carrier-dashboard {
    color: @c-gray-darkest;
    tr > td {
      &.carrier-dashboard-arrow, &.carrier-dashboard-pickup {
        border-right: none;
      }
    }
    &.carrier-dashboard-arrow {
      padding-left: 0;
      padding-right: 0;
      img {
        margin: 15px 0;
      }
    }
    thead {
      .location-delivery {
        margin-left: 18px;
      }
    }
    .muted {
      color: @c-gray-mid-light;
    }

    tr.ng-scope.canceled {
      background-image: url('/client/assets/images/active-loads-canceled-watermark.png')
    }

    .carrier-dashboard-load {
      p {
        margin-bottom: 10px;
        max-width: 120px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      p.label {
        margin-bottom: 3px;
      }
      div.canceled-load-watermark {
        float:left;
        height: 40px; 
        width: 80px; 
        font-size: 3em; 
        transform:rotate(345deg);
        -webkit-transform:rotate(345deg); 
        position: absolute; 
        left: 240px; 
        top: 60px; 
        font-weight: bold; 
        color: red; 
        z-index: 9999
      }
    }
    .loading {
      background: rgba(0, 0, 0, 0.1);
    }
    .location-pickup, .location-delivery {
      display: flex;
      flex-direction: column;
    }
    .lead {
      font-weight: normal;
      line-height: 20px;
      margin-bottom: 2px;
      word-break: break-word;
    }
    .location-state {
      margin-bottom: 10px;
    }
    .location-time {
      font-size: 12px;
      line-height: 16px;
      margin-top: 10px;
      +tablet {
        margin-top: auto;
      }
    }
    .driver-status {
      font-size: 12px;
      line-height: 16px;
      margin-top: 10px;
      +tablet {
        margin-top: auto;
      }
    }
  }
}

.carrier-dashboard-pickup, .carrier-dashboard-delivery {
  max-width: 200px;
}

.carrier-dashboard-multi-load-action {
  width: 100%;
  .btn {
    margin: 6px 0 0 0;
    width: 100%;
  }
  p {
    margin: 6px 0 0 0;
    > .btn-link {
      text-align: left;
      margin: 0;
    }
  }
  .action-align-bottom {
    margin-top: auto;
  }
}