<app-modal>
  <div class="modal-content">
    <div class="modal-header">
      <button aria-label="Close" class="close" ng-click="$ctrl.modalActions.close()" data-dismiss="modal" type="button">
              <span aria-hidden="true">×</span>
            </button>
      <h4 class="modal-title">
              <div class="assign-action-type">
                Assign Driver
              </div>
              <div class="assign-action-to">
                to Load 345674556
              </div>
            </h4> PRO 12423423524543543
    </div>
    <div class="modal-body">
      <div class="modal-sidebar">
        <h4 class="section-header">Pickup</h4> Memphis TN, 60655 14:00-15:00 EST Today, Apr 20
        <div class="h4 section-header">Delivery</div>
        Winchester-on-the-Severn TX, 50968 16:00-18:00 EST Fri, May 23
        <div class="h4 section-header">Equipment</div>
        Dry Van 53', HazMat
        <a class="btn btn-link btn-edit">Add Trailer Number</a> Drop Trailer at Shipper No Reefers
        <a class="btn btn-link btn-show">Show More</a>
      </div>
      <div class="modal-main-content">
        <p>One fine body …</p>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default" date-dismiss="modal" type="button">Close</button>
      <button class="btn btn-link" type="button">Close</button>
    </div>
  </div>
</app-modal>