  .load-management {
    min-height: 500px;
    position: relative;
    .mail-icon {
      content: url('../assets/images/mail-icon-gray.png');
    }
    .tab-bar {
      margin-bottom: 0;
    }
    .container.main-content {
      padding-bottom: 20px;
    }
    .search-form {
      margin-left: auto;
      margin-top: 20px;
      .search-help-text {
        color: @c-gray-heavy-light;
      }
    }

    .back-button-row {
      position: absolute;
      width: 100%;
    }
  }

  .carrier-dashboard-header {
    background: @c-white;
    border-bottom: 1px solid @c-gray-light;
    > div {
      display: flex;
    }
    li {
      margin-bottom: 0;
    }
    .header-label {
      font-weight: @fw-bold;
      color: @c-blue;
      margin-right: 5px;
    }
  }

  .carrier-dashboard-header_left {
    text-transform: uppercase;
  }

  .carrier-dashboard-header_right {
    text-align: right;
    a {
      color: @c-dark-grey;
    }
    li {
      padding-left: 13px;
      padding-right: 13px;
    }
  }
