<div class="load-management">
  <loading show-loading="$ctrl.showLoading"></loading>
  <div ng-show="!$ctrl.showLoading">
    <tab-bar ng-if="$ctrl.tabItems && $ctrl.state.current.name !== $ctrl.routesConfig.INDEX.loadDetails.name" tab-items="$ctrl.tabItems" tab-replacement-text="$ctrl.tabReplacementText">
      <h2>Search Results for {{$ctrl.stateParams.searchText}}</h2>
      <search-bar search-callback="$ctrl.routeToSearch(searchText)" placeholder-text="Load or PRO Number"></search-bar>
    </tab-bar>
    <div ui-view></div>
  </div>
</div>
