.selection-users {
  .results-selection .driver-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -1.25rem;
  }

  h5 {
      font-family: inherit;
  }
  
  .driver-grid {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin: 0 -1.25rem;
  }

  .driver-grid > .driver {
      position: relative;
      width: ~'calc(100% / 2 - 2.5rem)';
      min-height: 161px;
      margin: 0 1.25rem 40px;
      padding: 15px 20px 11px;
      border-radius: 3px;
      background-color: @c-white;
      box-shadow: 0 1px 4px 0 rgba(65, 67, 68, 0.3), 0 2px 0 0 rgba(65, 67, 68, 0.1);

      a {

        color: @c-bright-blue;
      }
  }

  .driver header {
      margin-bottom: 20px;
  }

  .btn.btn-adduser {
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color:@c-gray-light;
      -webkit-transition: all 0.1s ease-in;
      transition: all 0.1s ease-in;
  }

  .btn.btn-adduser:hover {
      background-color: @c-gray-mid-light;
  }
}
