<div class="carrier-dashboard-driver">
  <div ng-if="!$ctrl.noDriver">
    <h3 class="driver-name">
      <a ng-if="$ctrl.load.isDriverVerified && !$ctrl.isDisabled" href="javascript:void(0)" ng-click="$ctrl.showAssignDriverModal()">{{$ctrl.load.driver.firstName}} {{$ctrl.load.driver.lastName | firstCharacter}}</a>
      <span ng-if="!$ctrl.load.isDriverVerified || $ctrl.isDisabled">{{$ctrl.load.driver.firstName}} {{$ctrl.load.driver.lastName | firstCharacter}}</span>
    </h3>
    <span><tel>{{$ctrl.load.driver.phone | phoneNumber}}</tel></span>
    <div class="driver-status">
      <span ng-if="$ctrl.load.isDriverVerified">{{$ctrl.load.driver.isDoNotDisturb | driverStatus}}</span>
      <span ng-if="!$ctrl.load.isDriverVerified && !$ctrl.isDisabled"><br> <a href="javascript:void(0)" ng-click="$ctrl.showVerifyDriverModal()">Verify Driver</a></span>
      <br> <span ng-if="$ctrl.loadType === $ctrl.loadTypeConstants.ACTIVE">Tracking {{$ctrl.load.driver.isTrackingEnabled | onOff}}</span>
      <span ng-if="$ctrl.loadType !== $ctrl.loadTypeConstants.ACTIVE && $ctrl.load.assignedByEcho">Entered By Echo</span>
    </div>
  </div>
  <div ng-if="$ctrl.noDriver">
    <loading-button ng-if="!$ctrl.isDisabled" button-text="Assign Driver" click-handler="$ctrl.showAssignDriverModal()" show-loading="$ctrl.showButtonLoading"></loading-button>
     <h4 ng-if="$ctrl.isDisabled">No Driver Assigned</h4>
  </div>
  <loading show-loading="$ctrl.showComponentLoading"></loading>
</div>
