<div class="my-company-user-profile">
  <div class="row">
    <div class="col-sm-6">
      <portal-user-profile portal-user="$ctrl.portalUser" show-loading="$ctrl.showLoading" is-carrier-admin="$ctrl.user.isCarrierAdmin()" carrier-id="$ctrl.carrierId" user-updated-handler="$ctrl.userProfileUpdated()">
        <go-back-button>
          <a class="btn btn-link" ng-click="$ctrl.goBackToPortal()">
            <div class="echo-icon icon-left-arrow" data-grunticon-embed></div>Back To Portal User List</a>
        </go-back-button>
        <success-button>
          <button class="btn btn-default" ng-click="$ctrl.userProfileUpdated()">
            Back to Portal User List
          </button>
        </success-button>
      </portal-user-profile>
    </div>
    <div class="col-sm-6" ng-if="$ctrl.portalUser.id">
      <usage user="$ctrl.portalUser" is-portal-user="true"></usage>
      <change-password ng-if="$ctrl.user.userId === $ctrl.portalUser.id" user-id="$ctrl.user.userId"></change-password>
    </div>
  </div>
</div>
