.invoices-filter {
  .filter-bar {
    text-transform: uppercase;
    padding: 30px;
    margin: 20px 0 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    .label {
      -ms-flex-item-align: center;
      align-self: center;
      text-align: left;
      letter-spacing: 1px;
      padding: 0;
    }
  }
}