<loading show-loading="$ctrl.showLoading"></loading>
<div class="load-details" ng-if="!$ctrl.showLoading">
  <div class="container-fluid carrier-dashboard-header">
    <div class="container">
      <ul class="list-inline carrier-dashboard-header_left">
        <li>
          <strong>Load {{$ctrl.loadDetails.loadNumber}}</strong>
        </li>
        <li>
          <previous-state></previous-state>
        </li>
      </ul>
      <echo-rep-contact class="list-inline carrier-dashboard-header_right" rep-details="$ctrl.repDetails"></echo-rep-contact>
    </div>
  </div>
  <load-map show-map="$ctrl.showMap" map-points="$ctrl.mapPoints" detailed-info="false" show-expanded="false"></load-map>
  <loading show-loading="$ctrl.showLoading"></loading>
  <div ng-if="!$ctrl.showLoading" class="container-fluid load-table_detail">
    <div class="container">
      <load-detail rep-details="$ctrl.repDetails" load-detail="$ctrl.loadDetails" carrier-id="$ctrl.carrierId" refresh-load="$ctrl.fetchLoadDetails()"></load-detail>
    </div>
  </div>
  <div class="container main-content">
    <div class="section-head">
      <h1 class="section-label">
        {{$ctrl.invoiceDetails.invoiceDetails.length > 0 ? 'INVOICE DETAILS' : 'STOPS'}}
      </h1>
    </div>
    <div class="row">
      <section class="col-md-8">
        <invoice-accordion ng-if="$ctrl.invoiceDetails.invoiceDetails.length > 0" invoice-details="$ctrl.invoiceDetails"></invoice-accordion>
        <div class="section-head" ng-if="$ctrl.invoiceDetails.invoiceDetails.length > 0">
          <h1 class="section-label">
            STOPS
          </h1>
        </div>
        <stop-accordion ng-repeat="pickUp in $ctrl.loadDetails.pickUp" stop-type="Pickup" stop="pickUp" pickup-numbers="$ctrl.pickupNumbers"></stop-accordion>
        <stop-accordion ng-repeat="delivery in $ctrl.loadDetails.delivery" stop-type="Delivery" stop="delivery" pickup-numbers="$ctrl.deliveryNumbers"></stop-accordion>
        <activity-log load="$ctrl.loadDetails"></activity-log>
      </section>
      <div class="col-md-4">
        <section class="sidebar-container">
          <equipment equipment="$ctrl.loadDetails.equipments" trailer-number="$ctrl.loadDetails.trailerNumber" tractor-number="$ctrl.loadDetails.tractorNumber" load-guid="$ctrl.loadDetails.loadGuid"></equipment>
        </section>
        <section class="sidebar-container">
          <h4 class="section-header sh-short">General Instructions</h4>
          <p>{{$ctrl.loadDetails.generalInstructions || 'No Additional Instructions'}}</p>
        </section>
        <section class="sidebar-container">
          <documents load="$ctrl.loadDetails"></documents>
        </section>
      </div>
    </div>
  </div>
</div>