<section class="content-container">
  <h2 class="section-header">Assignments</h2>
  <div class="load-label">Echo Assigned, Active</div>
  <div class="load-info">
    <div class="load-col load-assignment">
      <h2 class="load-number">123443211</h2>
      <a href="#">Change Driver</a>
    </div>
    <div class="load-col load-location load-location_pickup load-pickup">
      <div class="load-citystate">
        <div class="load-city">New York</div>
        <div class="load-st">TN, 60655</div>
      </div>
      <div class="load-datetime">14:00 EST <br>Picked up Fri, May 20</div>
    </div>
    <div class="load-col load-direction">
      <span class="echo-icon icon-right-arrow-dark"></span>
    </div>
    <div class="load-col load-location load-location_delivery load-delivery">
      <div class="load-citystate">
        <div class="load-city">Chicago</div>
        <div class="load-st">TX, 50968</div>
      </div>
      <div class="load-datetime">16:00-18:00 EST <br>Today, Apr 20</div>
    </div>
  </div>
  <hr>
  <div class="load-label">Next Assignment</div>
  <div class="load-info">
    <div class="load-col load-assignment">
      <h2 class="load-number">123443211</h2>
      <a href="#">Change Driver</a>
    </div>
    <div class="load-col load-location load-location_pickup load-pickup">
      <div class="load-citystate">
        <div class="load-city">New York</div>
        <div class="load-st">TN, 60655</div>
      </div>
      <div class="load-datetime">14:00 EST <br>Picked up Fri, May 20</div>
    </div>
    <div class="load-col load-direction">
      <span class="echo-icon icon-right-arrow-dark"></span>
    </div>
    <div class="load-col load-location load-location_delivery">
      <div class="load-citystate">
        <div class="load-city">Chicago</div>
        <div class="load-st">TX, 50968</div>
      </div>
      <div class="load-datetime">16:00-18:00 EST <br>Today, Apr 20</div>
    </div>
  </div>
</section>