<uib-accordion class="stop-accordion" ng-class="{'panel-closed': !$ctrl.isOpen}">
  <div uib-accordion-group is-open="$ctrl.isOpen">
    <uib-accordion-heading><strong>{{$ctrl.stopType}}</strong> {{$ctrl.formattedCity}}, {{$ctrl.stop.state}} {{$ctrl.stop.zip}}
      <span class="stops-date">
                    {{$ctrl.stop.formattedDayTime}}
                    <div class="caret"></div>
                  </span>
    </uib-accordion-heading>
    <div class="row">
      <details-location stop="$ctrl.stop"></details-location>
      <details-pickup-numbers pickup-numbers="$ctrl.pickupNumbers"></details-pickup-numbers>
      <details-notes notes="$ctrl.stop.notes"></details-notes>
      <details-contact stop="$ctrl.stop"></details-contact>
    </div>
    <load-item-details items="$ctrl.stop.items" total-weight="$ctrl.stop.stopTotalWeightInPounds"></load-item-details>
  </div>
</uib-accordion>
