.resend-invite {
  margin-top: 41px;

  .checklist {
    padding-left: 0;
  }

  .checklist-inprogress{
    list-style-type: none;
  }
  .icon-question{
    position: relative;
    top: 0.5rem;
    width: 22px;
    height: 22px;
    margin-right: 9px;
  }

  .help-block, .success {
    text-align: right;
    margin-top: 10px;
  }
}
