<div class="resend-invite">
  <section class="content-container">
    <h2 class="section-header">Echo Drive Usage</h2>
    <ul class="checklist">
      <li class="checklist-inprogress" ng-if="!$ctrl.hasUserLoggedIn()">
        <span class="echo-icon icon-question"></span>{{$ctrl.user.invitationStatus}}
        <loading-button class="pull-right" button-text="Resend Invite" show-loading="$ctrl.showLoading" click-handler="$ctrl.resendInvite()" disable-button="$ctrl.disableSubmit"></loading-button>
        <error-messages error-code="$ctrl.errorCode" error-messages="$ctrl.errorMessages" step-sensitive="false"></error-messages>
        <div ng-if="$ctrl.showSuccess" class="fading-text success">Invitation Sent!</div>
        <div class="help-block" ng-if="$ctrl.showDefaultError && $ctrl.showError">An error has occurred. Please try again.</div>
      </li>
      <li class="checklist-approved" ng-if="$ctrl.hasUserLoggedIn()">
        <span class="echo-icon icon-check-approved"></span>Last login {{$ctrl.user.lastLogin}}
      </li>
    </ul>
  </section>
</div>
