<table class="invoice-activity table table-minimal table-invoice-details">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Quantity</th>
      <th>Rate</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="invoiceActivity in $ctrl.invoiceActivities">
      <td>{{::invoiceActivity.activity}}</td>
      <td>{{::invoiceActivity.quantity}}</td>
      <td>{{::invoiceActivity.rate | currency: '$'}}</td>
      <td>{{::invoiceActivity.amount | currency: '$'}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td><strong>{{::$ctrl.invoiceActivityAmount.total | currency: '$'}}</strong></td>
    </tr>
    <tr>
      <td colspan="3">Amount Paid</td>
      <td><strong>{{::$ctrl.invoiceActivityAmount.paid | currency: '$'}}</strong></td>
    </tr>
    <tr>
      <td colspan="3">Balance Due</td>
      <td><strong>{{::$ctrl.invoiceActivityAmount.due | currency: '$'}}</strong></td>
    </tr>
  </tfoot>
</table>