<section class="content-container">
  <h2 class="section-header">Batmobile Usage</h2>
  <ul class="checklist">
    <li class="checklist-approved"><span class="echo-icon icon-check-approved"></span>Invitation Sent</li>
    <li class="checklist-approved"><span class="echo-icon" ng-class="{'icon-check-approved': $ctrl.driver.isAppInstalled, 'icon-check-grey': !$ctrl.driver.isAppInstalled}"></span>App {{$ctrl.driver.isAppInstalled ? 'Installed' : 'Not Installed'}}</li>
    <li class="checklist-approved">
      <span class="echo-icon" ng-class="{'icon-check-approved': $ctrl.driver.isTrackingEnabled, 'icon-check-grey': !$ctrl.driver.isTrackingEnabled}"></span>Tracking Enabled
    </li>
  </ul>
</section>
