<div class="document-type">
  <form class="form-inline">
    <legend>TYPE</legend>
    <radio-button ng-model="$ctrl.selectedDocumentType" value="$ctrl.loadDocumentsHandler()" label="Load Document" name="optionsRadiosType" 
      is-disabled="$ctrl.isDisabled && $ctrl.selectedDocumentType === $ctrl.documentTypeConstants.INVOICE.value"></radio-button>
    <radio-button ng-model="$ctrl.selectedDocumentType" value="$ctrl.documentTypeConstants.INVOICE.value" label="Invoices" name="optionsRadiosType" 
      is-disabled="$ctrl.selectedDocumentType !== $ctrl.documentTypeConstants.INVOICE.value && $ctrl.isDisabled"></radio-button>
  </form>
  <hr class="hr">
  <div ng-if="$ctrl.selectedDocumentType === $ctrl.documentTypeConstants.INVOICE.value" ng-transclude="invoices"></div>
  <div ng-if="$ctrl.selectedDocumentType !== $ctrl.documentTypeConstants.INVOICE.value" ng-transclude="loadDocumentTypes"></div>
</div>