<div class="confirm-items">
  <h4 class="content-header">Confirm the following items are loaded.</h4>
  <p>If the items received by the driver differ from what you see here, please call Echo.</p>
  <h4 class="content-header">Items</h4>
  <h4 class="section-header sh-med sh-no_border">
  PICKUP #
  <span class="pickup-numbers">567834253, 567834253, 567834253</span>
</h4>
  <div class="items">
    <checkbox-card is-checked="$ctrl.checkboxItems.equipmentCheckbox">
      <p>
        <strong>Ser# A84884-516A (1) Lektro Pushback 17' x 8' x 6' @5000lbs</strong>
      </p>
      <p>
        <p>1 EA, Floor Handling Unit, 5000 lb</p>
      </p>
    </checkbox-card>
    <checkbox-card is-checked="$ctrl.checkboxItems.equipmentCheckbox">
      <p>
        <strong>Ser# A84884-516A (1) Lektro Pushback 17' x 8' x 6' @5000lbs</strong>
      </p>
      <p>
        <p>1 EA, Floor Handling Unit, 5000 lb</p>
      </p>
    </checkbox-card>
  </div>
</div>