<div class="filter-bar">
  <form class="search-form">
    <div class="form-group">
      <input type="text" ng-model="$ctrl.searchParam" class="form-control search-form-input" placeholder="Find a Carrier" maxlength="100" />
      <span class="search-icon" ng-if="$ctrl.searchParam.length < $ctrl.minSearchCharacters">
        <img src="../assets/images/icon-search@2x.png"  style="width: 16px; height: 16px;"/>
      </span>
      <span class="search-bar-controls" ng-if="$ctrl.searchParam.length >= $ctrl.minSearchCharacters">
        <span class="search-results-count">{{($ctrl.searchList | filter:$ctrl.searchParam).length}} Search Results</span>
      <div class="search-results-close echo-icon icon-close" ng-click="$ctrl.clearSearchHandler()"></div>
      </span>
    </div>
  </form>
</div>
