<section class="modal-sidebar">
  <p>
    <strong>Document Guidelines</strong>
  </p>
  <ul>
    <li>Accepted File Types: JPEG, PDF, PNG</li>
    <li>Max File Size: 20mb</li>
  </ul>
  <p>
    <strong>Documents Sent</strong>
  </p>
  <div class="load-docs">
    <div class="load-doc">
      <div class="doc-descrip">
        <div class="doc-data">
          <h5>PROOF OF DELIVERY #1</h5>
          Added 06:45 CST, Today
          <br> By Echo
        </div>
      </div>
    </div>
    <div class="load-doc">
      <div class="doc-descrip">
        <div class="doc-data">
          <h5>LUMPER RECEIPT</h5>
          Added 05:45 CST, Today
          <br> By Echo
        </div>
      </div>
    </div>
  </div>
</section>