.document-sidebar {
  height: 100%;
  .load-documents .load-doc {
    padding: 0;
  }
  .load-doc {
    cursor: default;
    &:hover {
      background: @c-white;
    }
  }
  .load-documents .doc-descrip h5 {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0 0 3px;
    font-family: inherit;
  }
}