<div class="load-map">
  <div class="map-container" ng-class="{'detailed': $ctrl.detailedInfo, 'expanded': $ctrl.showExpanded}">
    <loading show-loading="$ctrl.showLoading" overlay="false"></loading>
    <google-maps-load-details ng-if="!$ctrl.showLoading && $ctrl.geoCodeComplete && $ctrl.showMap && !$ctrl.googleMapError"
                 ng-class="{'detailed': $ctrl.detailedInfo}"
                 map-type="$ctrl.mapType"
                 popup-offset="$ctrl.popupOffset"
                 center="$ctrl.mapCenter"
                 total-points="$ctrl.mapPoints.length">

      <google-maps-marker-load-details ng-repeat="mapMarker in $ctrl.mapMarkers" map-marker="mapMarker">

        <google-maps-info-window-load-details>
          <warehouse-info-window map-marker="mapMarker"
                                 total-temporary-stops="$ctrl.totalTemporaryStops">
          </warehouse-info-window>
        </google-maps-info-window-load-details>

      </google-maps-marker-load-details>

      <google-maps-polyline load-status-code="$ctrl.loadStatusCode" map-points="$ctrl.mapMarkers"></google-maps-polyline>

    </google-maps-load-details>
  </div>
</div>
