<div>
  <div class="container-fluid carrier-dashboard-header" ng-if="!$ctrl.showLoading">
    <div class="container">
      <ul class="list-inline carrier-dashboard-header_left">
        <li>
          <strong>{{$ctrl.paging.totalRecords}} Invoices Located</strong>
        </li>
        <li ng-if="$ctrl.previousRoute"><a ui-sref="{{$ctrl.previousRoute}}">Back to {{$ctrl.previousRouteName}}</a></li>
      </ul>
      <echo-rep-contact class="list-inline carrier-dashboard-header_right" rep-details="$ctrl.repDetails"></echo-rep-contact>
    </div>
  </div>
  <div class="container main-content">
    <invoice-table rep-details="$ctrl.repDetails" invoices="$ctrl.invoices" show-loading="$ctrl.showLoading" carrier-id="$ctrl.carrierId"></invoice-table>
    <pagination page-click-handler="$ctrl.getInvoices()" paging-model="$ctrl.paging" ng-if="!$ctrl.showLoading" record-type="Invoices"></pagination>
  </div>
</div>
