.assign-driver-modal {
  .lead {
    margin-bottom: 0;
  }
  .delivery, .equipment {
    padding-top: 20px;
  }
  .new-driver, .unassigned-driver-list, .unassigned-driver {
    position: relative;
  }
  .new-driver, .unassigned-driver, .assigned-driver-profile, load-driver {
    height: 100%;
  }
  .new-driver, .unassigned-driver, .assigned-driver-profile {
    display: flex;
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .side-bar {
    border-right: 1px solid #e5e5e5;
  }
  .modal-footer {
    text-align: center;
  }
  .select-driver {
    display: inline;
  }
  .selected-driver {
    display: none;
  }
  .selected {
    .select-driver {
      display: none;
    }
    .selected-driver {
      display: inline;
    }
  }
  .equipment-header {
    .small-header;
  }
  .table-modal-scroll {
    border-bottom: solid 1px #505c61;
    table tbody, table thead {
      display: block;
    }
    table {
      tbody {
        height: 305px;
        padding-right: 25px;
        overflow-x: hidden;
        overflow-y: auto;
        tr > td {
          position: inherit;
          &:after {
            position: inherit;
          }
        }
      }
    }
  }
  .table-assign-driver {
    margin-bottom: 0;
  }
  .table-assign-driver .driver-status, .table-assign-driver .driver-contact {
    text-align: right;
  }
  .table-assign-driver td.driver-contact {
    color: @c-gray-heavy-light;
    width: 160px;
  }
  .table-assign-driver td.driver-status {
    width: 75px;
  }
  .table-assign-driver .driver-name {
    font-size: 14px;
  }
  .icon-left-arrow {
    margin-right: 5px;
  }
  .icon-right-arrow {
    margin-left: 5px;
  }
  .unassigned-driver-results {
    position: relative;
  }
  .unassigned-driver-list .loading {
    margin-top: 20px;
  }
  .new-driver .loading .loading-text, .unassigned-driver-list .loading .loading-text, .unassigned-driver .loading .loading-text {
    top: 42%;
    left: 42%;
  }
  .icon-warning {
    position: absolute;
  }
  .text-danger {
    padding-left: 25px;
    position: relative;
    display: inline-block;
  }
  .typeahead-search .loading .loading-text {
    left: 0;
    top: 10%;
  }
}