<div class="modal-content">
  <div class="modal-header">
    <button aria-label="Close" class="close" ng-click="$ctrl.modalActions.close()" data-dismiss="modal" type="button">
        <span aria-hidden="true">×</span>
      </button>
    <h4 class="modal-title">
          Assign Driver to Load 345674556
      </h4>
    <div>PRO 12423423524543543</div>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
    <button class="btn btn-link" type="button" ng-click="$ctrl.modalActions.close()">Close</button>
  </div>
</div>