<div class="assign-driver-modal">
  <div class="modal-header">
    <button aria-label="Close" class="close btn-close" ng-click="$ctrl.modalActions.close()" data-dismiss="modal" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h1 class="modal-title">
      <span class="assign-action-type" ng-if="$ctrl.noDriver">
        Assign Driver to
      </span>
      <span class="assign-action-type" ng-if="$ctrl.state === $ctrl.states.assignedDriverProfile">
        Assigned Driver for
      </span>
      <span class="assign-action-type" ng-if="!$ctrl.noDriver && $ctrl.state !== $ctrl.states.assignedDriverProfile">
        Change Driver for
      </span>
      <span class="assign-action-to">
        Load {{$ctrl.load.loadNumber}}
      </span>
    </h1>
    <div class="modal-subheading" ng-if="$ctrl.load.proNumber">PRO {{$ctrl.load.proNumber}}</div>
  </div>
  <div class="modal-body">
    <section class="modal-sidebar">
      <article class="sidebar-content">
        <h4 class="small-header">Pickup</h4>
        <shipping-details shipping-details="$ctrl.load.pickUp"></shipping-details>
      </article>
      <article class="sidebar-content">
        <h4 class="small-header">Delivery</h4>
        <shipping-details shipping-details="$ctrl.load.delivery"></shipping-details>
      </article>
      <article class="sidebar-content">
        <equipment></equipment>
      </article>
    </section>
    <section class="modal-main-content">
      <load-driver driver="$ctrl.driver" state="$ctrl.state" carrier-id="$ctrl.carrierId" new-driver-callback="$ctrl.newDriverSelected(driver)"></load-driver>
    </section>
  </div>
  <div class="modal-footer">
    <div ng-if="$ctrl.state && $ctrl.state !== $ctrl.states.assignedDriverProfile">
    <button class="btn btn-default" type="button" ng-click="$ctrl.assignDriver()" ng-if="$ctrl.noDriver">
      Assign
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.reassignDriver()" ng-if="!$ctrl.noDriver && $ctrl.newDriver">
      Replace {{$ctrl.driver.firstName}}
    </button>
    <button class="btn btn-default" type="button" ng-click="$ctrl.unassignDriver()" ng-if="!$ctrl.noDriver && !$ctrl.newDriver">
      Unassign {{$ctrl.driver.firstName}}
    </button>
    </div>
    <button class="btn btn-link" type="button" ng-click="$ctrl.modalActions.close()">Close</button>
  </div>
</div>