.assign-driver-modal {
  .lead {
    margin-bottom: 0;
  }
  .delivery, .equipment {
    padding-top: 20px;
  }
  .side-bar {
    border-right: 1px solid #e5e5e5;
  }
  .modal-footer {
    text-align: center;
  }
}