.assign-driver-modal {
  .lead {
    margin-bottom: 0;
  }
  .delivery, .equipment {
    padding-top: 20px;
  }
  .new-driver {
    position: relative;
  }
  .new-driver, .unassigned-driver, .assigned-driver-profile, load-driver {
    height: 100%;
  }
  .new-driver, .unassigned-driver, .assigned-driver-profile {
    display: flex;
    flex: 1;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .side-bar {
    border-right: 1px solid #e5e5e5;
  }
  .modal-footer {
    text-align: center;
  }
  .equipment-header {
    .small-header;
  }
  .table-modal-scroll {
    height: 300px;
    overflow-y: scroll;
    padding-right: 25px;
    border-bottom: solid 1px #505c61;
  }
  .table-assign-driver {
    margin-bottom: 0;
  }
  .table-assign-driver .driver-status, .table-assign-driver .driver-contact {
    text-align: right;
  }
  .table-assign-driver td.driver-contact {
    color: #a9adaf;
    width: 120px;
  }
  .table-assign-driver td.driver-status {
    width: 60px;
  }
  .table-assign-driver .driver-name {
    font-size: 14px;
  }
  .icon-left-arrow {
    margin-right: 5px;
  }
  .icon-right-arrow {
    margin-left: 5px;
  }
  .new-driver .loading .loading-text {
    top: 42%;
    left: 42%;
  }
}