.invoicing {
  min-height: 500px;
  position: relative;
  .search-form {
    margin-left: auto;
    margin-top: 20px;
    .search-help-text {
      color: @c-gray-heavy-light;
    }
  }
  .mail-icon {
    content: url(../assets/images/mail-icon-gray.png);
  }
  .invoice-active {
    .tab-bar .search-form {
      margin-top: 10px;
      margin-bottom: 10px;
    }
  }
}