.load-details {
  .sidebar-container {
    padding: 10px 20px;
    margin-bottom: 20px;
    border-radius: 3px;
    background-color: @c-white;
    box-shadow: 0 1px 2px 0 rgba(65, 67, 68, 0.2);
  }
  .load-table_detail {
    background-color: @c-white;
  }
}