//------------------------------------
    #alerts
//------------------------------------

.alert
  color: #fff
  border: none
  border-radius: 3px
  padding: 12px 18px

  &.alert-success
    background-color: $success
  
  &.alert-info
    background-color: $info
  
  &.alert-warning
    background-color: $warning
  
  &.alert-danger
    background-color: $danger


.status-alert
  color: $warning
  position: relative

  &:before
    content: image-url('icon-warning.svg')
    position: absolute
    top: 0.25rem
    left: -18px

.btn.btn-status-alert
  position: relative
  color: $warning
  text-align: left
  padding: 0

  &:before
    content: image-url('icon-warning.svg')
    display: inline-block
    margin-right: 5px
