.dropdown-filter
  color: $gray-mid-light
  position: absolute
  z-index: 100
  top: 41px
  left: 0
  right: auto
  margin: 0
  width: 320px
  min-height: 255px
  background-color: #fff
  border: none
  border-radius: 0
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1)
  padding: 30px
  display: none

  .form-group
    margin-bottom: 20px

  .checkbox
    padding-left: 0

  label.checkbox-inline
    font-size: 14px
    text-transform: none
    margin-right: 16px
    padding-left: 25px

  .dropdown-filter-buttons
    position: absolute
    bottom: 0
    left: 0
    width: 100%
    text-align: center
    border-top: 1px solid $gray-light
    padding: 10px

    .btn
      margin-left: 10px