.filter-bar-wrap
  position: relative

  .filter-bar
    background-color: #f7f7f7
    padding: 30px
    color: $gray-mid-light
    text-transform: uppercase
    margin: 20px 0
    display: flex
    align-items: center
    justify-content: space-between

    .label
      font-size: 10px
      line-height: 14px
      color: $gray-mid-dark
      font-weight: normal
      margin-right: 20px

    .btn-filter
      margin-right: 10px
      padding-left: 15px
      padding-right: 15px

    .filter-summary
      text-align: center
      font-size: 12px
      line-height: 16px
      margin-left: auto

      h5
        font-family: $heading-font
        font-size: 20px
        line-height: 20px
        font-weight: normal
        font-smoothing: antialiased
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        letter-spacing: 0.5px
        margin: 0






