.filter-bar-wrap
  position: relative

  .filter-bar
    color: $gray-mid-light
    text-transform: uppercase
    padding: 30px
    margin: 20px 0
    background-color: #f7f7f7
    display: flex
    justify-content: space-between
    align-items: stretch

    .label
      color: $gray-mid-dark
      font-size: 10px
      font-weight: normal
      line-height: 14px
      margin-right: 20px
      align-self: center

    .btn-filter
      margin-right: 10px

    .filter-summary
      font-size: 12px
      text-align: center
      line-height: 16px
      margin-left: auto
      align-self: center

      h5
        font-family: $heading-font
        font-size: 20px
        line-height: 20px
        font-weight: normal
        font-smoothing: antialiased
        -webkit-font-smoothing: antialiased
        -moz-osx-font-smoothing: grayscale
        letter-spacing: 0.5px
        margin: 0






