//------------------------------------
    #lists
//------------------------------------

.list-stacked
  font-size: 14px
  line-height: 1.43
  color: $gray-darkest
  padding: 0
  margin: 0
  list-style: none
  border-top: 1px solid $gray-lightest

  li
    line-height: 1
    padding: 14px 24px 14px 55px
    border-bottom: 1px solid $gray-lightest

  li > a
    color: $gray-darkest

  li > a > span
    display: inline-block
    color: $gray-darkest
    font-family: $heading-font
    font-size: 30px
    line-height: 1.0
    letter-spacing: 0.5px
    margin-left: -30px
    width: 30px