//------------------------------------
    #Google Maps Info Window
//------------------------------------


.carrier-map-spacer
  position: relative
  z-index: 1000

  &.map-lg
    height: 790px

.gm-info-window
  position: absolute
  top: 50px
  left: 45%
  width: 375px
  height: auto
  padding: 17px 18px 12px 18px
  background-color: #fff
  border-radius: 4px
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1)

  &:before
    content: ''
    position: absolute
    left: -10px
    top: 40px
    border-right: 10px solid #fff
    border-top: 10px solid transparent
    border-bottom: 10px solid transparent
    border-left: none

.gm-overlay-header,
.gm-overlay-body
  padding-bottom: 12px
  margin-bottom: 15px
  border-bottom: solid 1px $gray-light

.gm-overlay-header,
.gm-overlay-footer
  display: flex
  justify-content: space-between
  align-items: center

.gm-overlay-body,
.gm-overlay-footer
  padding-right: 15px

.gm-overlay-header
  .load-number
    margin-bottom: 0

.gm-overlay-body
  .load-location
    width: 130px

.gm-info-window.gm-overlay-basic
  padding: 20px 30px
  line-height: 1.6
  width: 230px

  .overlay-notice
    margin-bottom: 10px



