//------------------------------------
    // #modal
//------------------------------------

+tablet
  .modal-dialog
    width: 725px

.modal-content
  padding: 30px 45px

.modal-dialog
  .modal-header,
  .modal-body,
  .modal-footer
    padding-left: 0
    padding-right: 0