//------------------------------------
    #pagination
//------------------------------------

.pagination 
  margin-top: 0

  > li
    font-size: 14px
    line-height: 1.4
    color: $gray
  
    &:first-child > a,
    &:first-child > span,
    &:last-child > a,
    &:last-child > span
      line-height: 1.35

  > li > a
    color: $bright-blue
    border: none
    padding-left: 3px
    padding-right: 3px

  