<div class="typeahead-search search-bar">
  <form class="search-form" role="search">
    <div class="form-group">
      <input class="form-control search-form-input" ng-model="$ctrl.selection" placeholder="Find a Driver" uib-typeahead="result as result.name for result in $ctrl.searchServiceHandler($ctrl.selection)" typeahead-min-length="$ctrl.typeaheadMinLength" typeahead-wait-ms="$ctrl.debounce"
        typeahead-on-select="$ctrl.onSelect()" typeahead-loading="$ctrl.showLoadingButton" typeahead-template-url="app/common/components/typeahead-search/templates/driver-results.template.html" typeahead-is-open="$ctrl.isTypeaheadOpen" typeahead-focus-on-select="true">
      <span class="search-bar-controls">
        <img src="assets/images/icon-search@2x.png" ng-if="$ctrl.selection.length === 0" width="16px" height="16px" alt="Icon search@2x">
        <loading show-loading="$ctrl.showLoadingButton"></loading>
        <span class="search-results-count" ng-if="$ctrl.isTypeaheadOpen && !$ctrl.showLoadingButton">{{$ctrl.numberOfSearchResults}} Search Results</span>
        <div ng-if="$ctrl.selection.length > 0" class="search-results-close echo-icon icon-close" ng-click="$ctrl.clearSearchHandler()"></div>
      </span>
    </div>
  </form>
</div>