.typeahead-search {
  margin-bottom: 30px;
  display: inline-block;
  .search-form {
    display: inline-block;
  }
  .loading {
    position: relative;
    z-index: 0;
    height: 15px;
    width: 15px;
    display: inline-block;
    .loading-text {
      height: 15px;
      width: 15px;
      position: relative;
      left: 0;
      top: 10%;
    }
  }
}