<div class="typeahead-search search-bar">
  <form class="search-form" role="search">
    <div class="form-group">
      <input
        class="form-control search-form-input"
        ng-class="{'search-form-input_dark': $ctrl.darkTheme}"
        ng-model="$ctrl.selection"
        placeholder="{{$ctrl.placeholderText}}"
        uib-typeahead="result as result.name for result in $ctrl.searchServiceHandler($ctrl.selection)"
        typeahead-min-length="$ctrl.typeaheadMinLength"
        typeahead-wait-ms="$ctrl.debounce"
        typeahead-on-select="$ctrl.onSelect()"
        typeahead-loading="$ctrl.showLoadingButton"
        typeahead-template-url="{{$ctrl.template}}"
        typeahead-is-open="$ctrl.isTypeaheadOpen"
        typeahead-focus-on-select="true"
        maxlength="{{$ctrl.maxLength}}"
      >
      <span class="search-bar-controls">
        <img ng-if="!$ctrl.darkTheme && $ctrl.selection.length === 0" src="assets/images/icon-search@2x.png" ng-if="" width="16px" height="16px" alt="Icon search@2x">
        <img ng-if="$ctrl.darkTheme && $ctrl.selection.length === 0" src="../assets/images/icon-search-white.png" ng-click="$ctrl.searchHandler()" style="width: 16px; height: 16px;" />
        <loading show-loading="$ctrl.showLoadingButton"></loading>
        <span class="search-results-count" ng-if="$ctrl.isTypeaheadOpen && !$ctrl.showLoadingButton && $ctrl.selection.length === 0">{{$ctrl.numberOfSearchResults}} Search Results</span>
        <div ng-if="$ctrl.selection" class="search-results-close echo-icon icon-close" ng-class="{'icon-white': $ctrl.darkTheme}" ng-click="$ctrl.clearSearchHandler()" data-grunticon-embed></div>
      </span>
    </div>
  </form>
</div>
