<div class="register">
  <div class="container-flex container-register">
    <div class="col-sm-5 col-lg-7 col-register col-register_content">
      <span class="echo-icon icon-logo-echo"></span>
      <br>
      <br>
      <div class="lead">
        <p>Welcome back to Echo Drive, the platform that lets you:</p>
        <ul>
          <li>Simplify load management</li>
          <li>Manage your drivers</li>
          <li>Review invoice status</li>
          <li>Get paid faster</li>
        </ul>
      </div>
    </div>
    <div class="col-sm-7 col-lg-5 col-register col-register_form">
      <h1 class="section-label">Please enter your email address so we can send you instructions on how to reset your password.</h1>
      <form name="$ctrl.forgotPasswordForm" novalidate>
        <fieldset class="fieldset">
          <div class="form-group" ng-class="{'has-error': $ctrl.forgotPasswordForm.email.$invalid && $ctrl.forgotPasswordForm.email.$touched}">
            <label>Email</label>
            <input class="form-control" required placeholder="myname@mail.com" name="email" ng-model="$ctrl.email" type="input" ng-pattern="$ctrl.emailValidation" maxlength="250" required>
            <span class="help-block" ng-if="$ctrl.forgotPasswordForm.email.$invalid && $ctrl.forgotPasswordForm.$submitted">{{$ctrl.appConstants.ERROR_MESSAGES.DEFAULTS.enterYourEmailAddress}}</span>
          </div>
          <div class="form-group">
            <loading-button ng-click="$ctrl.sendHandler()" button-text="Send" class="pull-right" show-loading="$ctrl.showButtonLoading" disable-button="$ctrl.forgotPasswordForm.$invalid"></loading-button>
            <server-errors error="$ctrl.serverError"/>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>
