<div class="create-password register">
  <div class="container-flex container-register">
      <div class="col-sm-5 col-lg-7 col-register col-register_content">
        <h1 class="brand brand-lg">Echo</h1>
        <h2>You've been invited to use Batmobile for load tracking and invoicing!</h2>
      </div>
      <div class="col-sm-7 col-lg-5 col-register col-register_form">
        <h1 class="section-label">Please Create A Password</h1>
        <form name="setPassword">
          <fieldset class="fieldset">
            <div class="form-group">
              <label>Password</label>
              <input class="form-control" placeholder="Enter your password" ng-model="$ctrl.passwordChange.newPassword" type="password">
            </div>
            <div class="form-group" ng-class="{'has-error': !$ctrl.passwordChange.confirmPasswordMatches() && setPassword.passwordConfirm.$touched}">
              <label>Confirm Password</label>
              <input class="form-control" name="passwordConfirm" placeholder="Re-enter your password" ng-model="$ctrl.passwordChange.confirmPassword" type="password">
              <span class="help-block" ng-if="!$ctrl.passwordChange.confirmPasswordMatches() && setPassword.passwordConfirm.$touched">{{$ctrl.appConstants.ERROR_MESSAGES.DEFAULTS.passwordsDoNotMatch}}</span>
            </div>
            <div class="form-group">
              <loading-button button-text="Set" disable-button="!$ctrl.passwordChange.isValidPassword()" click-handler="$ctrl.createPassword()" show-loading="$ctrl.showButtonLoading"></loading-button>
            </div>
          </fieldset>
        </form>
        <password-validation password-change="$ctrl.passwordChange"></password-validation>
      </div>
    </div>
</div>