.carrier-dashboard-driver {
  display: inline-flex;
  flex-direction: column;
  line-height: 20px;
  h3 {
    margin-bottom: 0;
    line-height: 24px;
  }
  .muted {
    font-size: 12px;
    line-height: 16px;
  }
  .btn {
    margin-top: 5px;
  }
}