<div class="carrier-admin-nav">
    <nav class="hidden-xs">
      <ul class="nav navbar-nav navbar-right">
        <li ui-sref-active="active">
          <a ui-sref="{{::$ctrl.routesConfig.INDEX.dashboard.name}}">Dashboard</a>
        </li>
        <li ui-sref-active="active">
          <a href="#">Load Management</a>
        </li>
        <li ui-sref-active="active">
          <a href="#">Invoicing</a>
        </li>
        <li ui-sref-active="active">
          <a ui-sref="{{::$ctrl.routesConfig.INDEX.myCompany.name}}">My Company</a>
        </li>
      </ul>
    </nav>
  </div>
</div>