.portal-user-profile {
  .icon-portal-user {
    margin-right: 8px;
  }
}

.profile-name {
  color: @c-gray-darkest;
  font-size: 30px;
  line-height: 1;
  letter-spacing: 0.5px;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-family: @heading-font;
  text-transform: uppercase;
}

.profile-name .icon {
  width: 18px;
  height: 17px;
  vertical-align: baseline;
}