<section class="content-container portal-user-profile">
  <div ng-if="$ctrl.modeShow === $ctrl.mode.PROFILE">
    <h1 class="profile-name profile-name_driver"><span data-grunticon-embed class="echo-icon icon-portal-user"></span>Portal User</h1>
    <form name="userProfile" novalidate>
      <fieldset class="fieldset">
        <div class="form-group" ng-class="{'has-error': userProfile.firstName.$error.required && userProfile.firstName.$touched}">
          <label>First Name</label>
          <input class="form-control" name="firstName" placeholder="First Name" type="text" ng-model="$ctrl.portalUser.firstName" required>
          <span class="help-block" ng-if="userProfile.firstName.$error.required  && userProfile.firstName.$touched">A first name is required</span>
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input class="form-control" name="lastName" placeholder="Last Name" type="text" ng-model="$ctrl.portalUser.lastName">
        </div>
      </fieldset>
      <fieldset class="fieldset">
        <legend>Contact Information</legend>
        <div class="form-group" ng-class="{'has-error': userProfile.userEmail.$invalid && userProfile.userEmail.$touched}">
          <label>Email Address</label>
          <input class="form-control" name="userEmail" placeholder="email@email.com" type="email" ng-model="$ctrl.portalUser.email" required ng-disabled="$ctrl.isCarrierAdmin && $ctrl.portalUser.id">
          <span class="help-block" ng-if="userProfile.userEmail.$error.email">Invalid email address</span>
          <span class="help-block" ng-if="userProfile.userEmail.$error.required && userProfile.userEmail.$touched">An email address is required</span>
        </div>
        <div class="form-group" ng-class="{'has-error': userProfile.phoneNumber.$invalid && userProfile.phoneNumber.$touched}">
          <label>Phone Number</label>
          <input class="form-control" name="phoneNumber" phone-number-mask placeholder="(555) 432-1234" type="tel" ng-model="$ctrl.portalUser.phone">
          <span class="help-block" ng-if="userProfile.phoneNumber.$error.invalidFormat && userProfile.phoneNumber.$touched">Invalid phone number</span>
        </div>
        <div class="form-group">
          <div ng-if="$ctrl.showConfirmation" class="confirmation text-center">
            <div>Are you sure you want to remove this user?</div>
            <button class="btn btn-secondary" ng-disabled="$ctrl.showButtonLoading" type="submit" ng-click="$ctrl.toggleConfirmation()">Cancel</button>
            <loading-button button-class="btn-danger" button-text="Delete" click-handler="$ctrl.removeUserHandler($ctrl.portalUser)" show-loading="$ctrl.showButtonLoading"></loading-button>
          </div>
          <a href="javascript:void(0)" class="btn btn-link btn-alt" ng-if="$ctrl.portalUser.id && !$ctrl.showConfirmation" ng-click="$ctrl.toggleConfirmation()">Remove User</a>
          <loading-button ng-if="!$ctrl.showConfirmation" button-text="Save Changes" disable-button="userProfile.$invalid" click-handler="$ctrl.saveChangesHandler($ctrl.portalUser)" show-loading="$ctrl.showButtonLoading" class="pull-right"></loading-button>
          <server-errors error="$ctrl.serverError"></server-errors>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="text-center" ng-if="$ctrl.modeShow === $ctrl.mode.SENT">
    <h1>Your invitation has been sent!</h1>
    <ng-transclude></ng-transclude>
  </div>
</section>