<div class="report-delivery-modal">
  <div class="modal-header">
    <button aria-label="close" class="close btn-close" ng-click="$ctrl.modalActions.close()" data-close="modal" type="button">
      <span aria-hidden="true">×</span>
    </button>
    <h1 class="modal-title">
      <span class="assign-action-type">
        Report Delivery for
      </span>
      <span class="assign-action-to">
        Load {{$ctrl.load.loadNumber}}
      </span>
    </h1>
    <div class="modal-subheading" ng-if="$ctrl.load.proNumber">PRO {{$ctrl.load.proNumber}}</div>
  </div>
  <div class="modal-body">
    <milestone-sidebar load="$ctrl.load"></milestone-sidebar>
    <section class="modal-main-content">
      <div ng-if="$ctrl.currentStep === $ctrl.modes.deliveryItems">
        <delivery-items items="$ctrl.items" date-time-picker="$ctrl.dateTimePicker" time-zones="$ctrl.timeZones"></delivery-items>
      </div>
      <div ng-if="$ctrl.currentStep === $ctrl.modes.optionalDocuments">
        <div class="rating">
          <p>
            <strong>How was your experience with Echo?</strong>
          </p>
          <rating rating="$ctrl.starRatings"></rating>
        </div>
        <comment comment="$ctrl.comment"></comment>
      </div>
    </section>
  </div>
  <div class="modal-footer">
    <modal-steps current-step="$ctrl.currentStep" is-next-disabled="false" is-back-disabled="$ctrl.buttonsDisabled" steps="$ctrl.steps" modal-actions="$ctrl.modalActions">
      <loading-button button-text="Confirm Delivery" disable-button="$ctrl.buttonsDisabled" click-handler="$ctrl.saveReportEmpty()" show-loading="$ctrl.showButtonLoading"></loading-button>
    </modal-steps>
  </div>
  <error-messages error-code="$ctrl.errorCode" error-messages="$ctrl.errorMessages" step-sensitive="true" valid-step="$ctrl.modes.optionalDocuments" current-step="$ctrl.currentStep"></error-messages>
</div>
