.carrier-dashboard-action {
  display: inline-flex;
  flex-direction: column;
  line-height: 20px;
  justify-content: center;
  width: 100%;
  .btn {
    margin: 6px 0 0 0;
    width: 100%;
  }
  p {
    margin: 6px 0 0 0;
    > .btn-link {
      text-align: left;
      margin: 0;
    }
  }
  .upcoming-text {
    margin-bottom: 15px;
  }
  .action-align-bottom {
    margin-top: auto;
  }
  h3 {
    margin-bottom: 0;
    line-height: 24px;
  }
  .muted {
    font-size: @fs-small;
    line-height: 16px;
  }
  .icon-document {
    margin-right: 8px;
    vertical-align: middle;
  }
}