.terms-and-conditions {
  height: 80vh;

  .modal-header {
    height: 97px;
  }

  .modal-body {
    margin: 10px 0;
    height: ~'calc(100% - 180px)';
    overflow-y: scroll;
  }

  .modal-footer {
    height: 67px;
  }
}
