<div class="container main-content">
  <section>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-carrier-dashboard">
          <thead>
            <tr>
              <th>Load</th>
              <th class="carrier-dashboard-pickup">Pickup</th>
              <th class="carrier-dashboard-arrow"></th>
              <th class="carrier-dashboard-delivery">Delivery</th>
              <th>Driver</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="carrier-dashboard-load">
                <load></load>
              </td>
              <td class="carrier-dashboard-pickup">
                <location></location>
              </td>
              <td class="carrier-dashboard-arrow">
                <span class="echo-icon icon-right-arrow-dark"></span>
              </td>
              <td class="carrier-dashboard-delivery">
                <location></location>
              </td>
              <td>
                <driver></driver>
              </td>
              <td>
                <action></action>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>