<section class="modal-sidebar">
  <article class="sidebar-content">
    <h4 class="small-header">Pickup</h4>
    <shipping-details shipping-details="$ctrl.load.pickUp"></shipping-details>
  </article>
  <article class="sidebar-content">
    <h4 class="small-header">Delivery</h4>
    <shipping-details shipping-details="$ctrl.load.delivery"></shipping-details>
  </article>
  <article class="sidebar-content">
    <h4 class="small-header">Driver</h4>
    <driver-info driver="$ctrl.load.driver" />
  </article>
</section>