<div class="comment">
  <h4 class="content-header">Send a comment to Echo</h4>
  <p>Please share your thoughts with Echo so that we can continue to improve the way loads are managed.</p>
  <form>
    <textarea class="form-control" ng-model="$ctrl.deliveryComment" placeholder="Enter your comments here"></textarea>
  </form>
  <div class="modal-action-links modal-action-split">
    <a class="btn btn-link btn-alt" ng-click="$ctrl.cancelCallback()">
      <svg width="13" height="14" viewBox="0 0 13 14" xmlns="http://www.w3.org/2000/svg">
                      <g class="icon-prev link-icon" stroke="#A9ADAF" stroke-width="2" fill="none" fill-rule="evenodd">
                          <path d="M7.8 12.4L2.06 6.66l5.637-5.638"></path>
                          <path d="M3.21 6.832h8" stroke-linecap="square"></path>
                      </g>
                  </svg> Cancel Comment
    </a>
    <a class="btn btn-link" ng-click="$ctrl.saveComment()">
                  Save Comment
                </a>
  </div>
</div>