.document-upload-modal {
  .modal-sidebar {
    width: 178px;
    .load-docs {
      height: 350px;
      overflow: auto;
      .load-doc {
        width: 150px;
        margin-right: 5px;
        position: relative;
        .flex-display();
        .flex-orient(horizontal);
        .flex-direction(row);
        .align-items(center);
        padding: 0;
        border-bottom: none;
        margin-bottom: 10px;
        .doc-descrip {
          font-size: 12px;
          line-height: 1.3;
        }
        .doc-descrip h5 {
          font-size: 14px;
          text-transform: uppercase;
          margin: 0 0 3px;
          font-family: inherit;
          font-weight: 400;
          line-height: 1.6;
        }
      }
    }
    .load-documents {
      margin-right: -25px;
      overflow-y: auto;
      height: 350px;
      .load-doc {
        width: 150px;
      }
    }
  }
  .modal-action-links {
    margin-top: auto;
  }
  hr {
    width: 100%;
    border-top-color: @c-gray-light;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eeeeee;
  }
  .upload-messages {
    line-height: 40px;
  }
  .invoice-button {
    margin-top: 80px
  }
}