-@title= 'Driver List Search'
-@page_classes= 'home'

= partial 'partials/tabs'

= partial 'partials/search-bar-open'

.container.main-content
  .row
    .col-md-12
      = partial 'partials/table'
    
      %nav.pull-left
        %ul.pagination
          %li
            =link_to '#' do
              %span 
                =image_tag('navigation-chevrons-lt@2x.png', width: '9', height: '12')

          %li.active-page=link_to '1', '#'
          %li=link_to '2', '#'
          %li=link_to '3', '#'
          %li=link_to '4', '#'
          %li=link_to '5', '#'
          %li
            =link_to '#' do
              %span
                =image_tag('navigation-chevrons-rt@2x.png', width: '9', height: '12')
      .results-count.pull-right
        Showing 1-5 of 20 Drivers
