-@title= 'Rep Admin'
-@page_classes= 'echorep'

.container-flex.container-echorep

  .col-sm-5.col-echorep.col-echorep_searchlist
    .col-wrap
      %form.search-form.search-form_searching{role:"search"}
        .form-group
          %input.form-control.search-form-input{type: "text", placeholder:"Find A Driver"}
          %button.btn.btn-default.btn-icon{type:"submit"}=image_tag('icon-search@2x.png', width: '16px', height: '16px')

        %span.search-results_count 3 Search Results
        %span.search-results_close
          =image_tag('icon-close-sm.svg')


      .sidebar-list.search-results
        %ul.sidebar-list_results
          %li 
            =link_to '#' do
              %span.input-result Bat
              Company 'A'        
          %li.text-muted
            %span.input-result Bat
            Company 'B'          
          %li 
            =link_to '#' do
              %span.input-result Bat
              Company 'C'
          %li 
            =link_to '#' do
              %span.input-result Bat
              Company 'D'
          %li 
            =link_to '#' do
              %span.input-result Bat
              Company 'E'

  .col-sm-7.col-echorep.col-echorep_searchresults
    .col-wrap
      %section.results-selection.results-selection_empty
        =image_tag('icon-book.svg')
        %h2 Select a carrier in the sidebar to <br/>view their users and drivers.
        
