-@title= 'Echo UI Kitchen Sink'
-@page_classes= 'home'

/ = partial 'partials/tabs'

.container
  .row

    .col-sm-12
      %h1 Echo UI Build Kit

      %h3 Sitemap
      %ul.list-group
        - sitemap.resources.each do |page|
          - if page.url =~ /\.html/
            %li.list-group-item
              = link_to page.url, page.url
   




