-@title= 'Echo UI Kitchen Sink'
-@page_classes= 'home'

/ = partial 'partials/tabs'

.container
  .row

    .col-sm-12
      %h1 Echo UI Build Kit

      %h3 New Approved Layouts
      %ul.list-group
        %li=link_to 'Driver List','/driver-list.html'
        %li=link_to 'Driver List w/ static search component','/driver-list-search.html'
        %li=link_to 'Driver Profile','/driver-profile.html'
        %li=link_to 'Portal List','/portal-list.html'
        %li=link_to 'Portal Profle','/portal-profile.html'
        %li=link_to 'Login','/login.html'
        %li=link_to 'Password','/password.html'
        %li=link_to 'Echo Rep Admin','/echorep-admin.html'
        %li=link_to 'Echo Rep Empty','/echorep-empty.html'
        %li=link_to 'Echo Rep Profile','/echorep-profile.html'
        %li=link_to 'Echo Rep Carrier Dashboard','/echorep-carrier-dashboard.html'
        %li=link_to 'Load Management - Active','/echorep-carrier-loads-active.html'
        %li=link_to 'Load Management - Unbilled','/echorep-carrier-loads-unbilled.html'
        %li=link_to 'Load Management - Upcoming','/echorep-carrier-loads-upcoming.html'

      %h3 Approved Layouts
      %ul.list-group
        %li=link_to 'Shell Carrier Rep', '/shell-carrier.html'
        %li=link_to 'Shell Echo Rep', '/shell-echorep.html'

      %h3 Links for Eight Bit Staging Site
      %ul.list-group
        - sitemap.resources.each do |page|
          - if page.url =~ /\.html/
            %li.list-group-item
              = link_to page.url, '/clients/echo'+page.url






