-@title= 'Echo UI Kitchen Sink'
-@page_classes= 'home'
-@url= '/client/echo'

/ = partial 'partials/tabs'

.container
  .row

    .col-sm-12
      %h1 Echo UI Build Kit

      %h3 02/2018: Report Modals

      %ul
        %li=link_to 'Report Load Update', 'report-loaded-modal.html'

      .well
        %h2.lead Eightbit Staging links: Reporting &amp; Tracking Overlays
        %h3 02/2018: Report Modals
        %ul
          %li=link_to 'Report Load Update', '/clients/echo/report-loaded-modal.html'

        / %h5 Google Maps Info Windows
        / %ul
        /   %li=link_to 'Map En Route Mini', '/clients/echo/map-en-route-mini.html'
        /   %li=link_to 'Map En Route', '/clients/echo/map-en-route.html'

        / %h5 Batch 5
        / %ul
        /   %li=link_to 'Invoice Landing Page', '/clients/echo/invoice-landing.html'
        /   %li=link_to 'Load Details Billed', '/clients/echo/load-details-billed.html'
        /   %li=link_to 'Document Image Preview', '/clients/echo/document-image.html'

        / %h5 Batch 4
        / %ul
        /   %li=link_to 'Add Document - Invoice', '/clients/echo/add-document-invoice.html'
        /   %li=link_to 'Add Document', '/clients/echo/add-document.html'
        /   %li=link_to 'Add Document - Error', '/clients/echo/add-document-error.html'
        /   %li=link_to 'Add Document - Added', '/clients/echo/add-document-added.html'
        /   %li=link_to 'Add Document 2', '/clients/echo/add-document-2.html'

        / %h5 Batch 3
        / %ul
        /   %li=link_to 'Report Delivery 1', '/clients/echo/report-delivery.html'
        /   %li=link_to 'Report Delivery 2', '/clients/echo/report-delivery-2.html'
        /   %li=link_to 'Report Delivery 3', '/clients/echo/report-delivery-3.html'
        /   %li=link_to 'Report Delivery 4', '/clients/echo/report-delivery-4.html'
        /   %li=link_to 'Report Location 1', '/clients/echo/report-location.html'
        /   %li=link_to 'Report Location 2', '/clients/echo/report-location-2.html'
        /   %li=link_to 'Send Load Update', '/clients/echo/send-load-update.html'

        / %h5 Batch 2
        / %ul
        /   %li=link_to 'Report Loaded', '/clients/echo/report-loaded.html'
        /   %li=link_to 'Report Loaded 2', '/clients/echo/report-loaded-2.html'
        /   %li=link_to 'Report Loaded 3', '/clients/echo/report-loaded-3.html'
        /   %li=link_to 'Report Arrival', '/clients/echo/report-arrival.html'
        /   %li=link_to 'Report Empty', '/clients/echo/report-empty.html'
        /   %li=link_to 'Report Empty 2', '/clients/echo/report-empty-2.html'

        / %h5 Batch 1 (Approved)
        / %ul
        /   %li=link_to 'Assign Driver 1','/clients/echo/assign-driver-1.html'
        /   %li=link_to 'Assign Driver 2','/clients/echo/assign-driver-2.html'
        /   %li=link_to 'Assign Driver 3','/clients/echo/assign-driver-3.html'
        /   %li=link_to 'Assign Driver 4','/clients/echo/assign-driver-4.html'
        /   %li=link_to 'Verfiy Driver','/clients/echo/verify-driver.html'
        /   %li=link_to 'Verify Driver 2','/clients/echo/verify-driver-2.html'
        /   %li=link_to 'View Assigned Driver 1','/clients/echo/view-assigned-driver.html'
        /   %li=link_to 'View Assigned Driver 2','/clients/echo/view-assigned-driver-2.html'
        /   %li=link_to 'View Assigned Driver 3','/clients/echo/view-assigned-driver-3.html'

      %h3 Canceled Loads
      %ul
        %li=link_to 'Cancelled Loads', '/cancelled-loads.html'

      %h3 Reporting &amp; Tracking Overlays

      %ul
        %li=link_to 'Invoice Landing Page', 'invoice-landing.html'
        %li=link_to 'Load Details Billed', 'load-details-billed.html'
        %li=link_to 'Document Image Preview', 'document-image.html'

      %ul
        %li=link_to 'Add Document', '/add-document.html'
        %li=link_to 'Add Document - Error', '/add-document-error.html'
        %li=link_to 'Add Document - Added', '/add-document-added.html'
        %li=link_to 'Add Document 2', '/add-document-2.html'

      %ul
        %li=link_to 'Report Loaded', '/report-loaded.html'
        %li=link_to 'Report Loaded 2', '/report-loaded-2.html'
        %li=link_to 'Report Loaded 3', '/report-loaded-3.html'
        %li=link_to 'Report Arrival', '/report-arrival.html'
        %li=link_to 'Report Empty', '/report-empty.html'
        %li=link_to 'Report Empty 2', '/report-empty-2.html'
        %li=link_to 'Report Load Issue', '/report-load-issue.html'

      %ul
        %li=link_to 'Report Delivery 1', '/report-delivery.html'
        %li=link_to 'Report Delivery 2', '/report-delivery-2.html'
        %li=link_to 'Report Delivery 3', '/report-delivery-3.html'
        %li=link_to 'Report Delivery 4', '/report-delivery-4.html'
        %li=link_to 'Report Location 1', '/report-location.html'
        %li=link_to 'Report Location 2', '/report-location-2.html'
        %li=link_to 'Send Load Update', '/send-load-update.html'

      %ul
        %li=link_to 'Assign Driver 1','/assign-driver-1.html'
        %li=link_to 'Assign Driver 2','/assign-driver-2.html'
        %li=link_to 'Assign Driver 3','/assign-driver-3.html'
        %li=link_to 'Assign Driver 4','/assign-driver-4.html'
        %li=link_to 'Verfiy Driver','/verify-driver.html'
        %li=link_to 'Verify Driver 2','/verify-driver-2.html'
        %li=link_to 'View Assigned Driver 1','/view-assigned-driver.html'
        %li=link_to 'View Assigned Driver 2','/view-assigned-driver-2.html'
        %li=link_to 'View Assigned Driver 3','/view-assigned-driver-3.html'

      %h3 Load Management
      %ul
        %li=link_to 'Load Management - Single Stop Detail','/load-mgmt-single.html'
        %li=link_to 'Load Management - Multi Stop Detail','/load-mgmt-multistop.html'
        %li=link_to 'Load Management - Active','/echorep-carrier-loads-active.html'
        %li=link_to 'Load Management - Unbilled','/echorep-carrier-loads-unbilled.html'
        %li=link_to 'Load Management - Upcoming','/echorep-carrier-loads-upcoming.html'

      %h3 Dashboard
      %ul
        %li=link_to 'Carrier Dashboard','/echorep-carrier-dashboard.html'

      %h3 Account Management
      %ul
        %li=link_to 'Driver List + Driver List Filter','/driver-list.html'
        %li=link_to 'Driver List w/ static search component','/driver-list-search.html'
        %li=link_to 'Driver Profile','/driver-profile.html'
        %li=link_to 'Portal List','/portal-list.html'
        %li=link_to 'Portal Profle','/portal-profile.html'
        %li=link_to 'Login','/login.html'
        %li=link_to 'Password','/password.html'
        %li=link_to 'Echo Rep Admin','/echorep-admin.html'
        %li=link_to 'Echo Rep Empty','/echorep-empty.html'
        %li=link_to 'Echo Rep Profile','/echorep-profile.html'

      %h3 Generic Shell Layouts
      %ul
        %li=link_to 'Shell Carrier Rep', '/shell-carrier.html'
        %li=link_to 'Shell Echo Rep', '/shell-echorep.html'

      %hr

      %h4 Links for Eight Bit Staging Site
      %ul.list-group
        - sitemap.resources.each do |page|
          - if page.url =~ /\.html/
            %li.list-group-item
              = link_to page.url, '/clients/echo'+page.url






