-@title= 'Carrier Dashboard'
-@page_classes= 'load-management'

= partial 'partials/header_carrier_dashboard'
= partial 'partials/map_spacer'

.container
  = partial 'partials/load_management_active'

.container.main-content
  .section-head
    %h1.section-label
      STOPS

  .row
    %section.col-md-8
    
      = partial 'partials/loads_accordion'
      / = partial 'partials/loads_sidebar_relatedcontent'


      %section.load-log-table
        %h4 All Load Activities
        %p.disclaimer [Disclaimer text provided by Legal to clarify that this log does not replace other records for purposes like calculating detention, etc]

        %table.table.log-table
          %tr
            %td.log-note Do not Disturb On
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5
          %tr
            %td.log-note Trailer Picked up: Midtown OK
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5              
          %tr
            %td.log-note Driver Assigned: Mike P.
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5              
          %tr
            %td.log-note Reported Arrival at Pickup: Memphis TN
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5

    .col-md-4
      %section.sidebar-container
        %h4.container-header Equipment
        .equip-list
          Dry Van 53’<br/>
          HazMat<br/>
          Tractor 093837<br/>
          =link_to 'Add Trailer Number', '#', class: 'btn btn-link btn-alt btn-sm'

        .equip-specials
          Drop Trailer at Shipper<br>
          No Reefers<br>

      %section.sidebar-container
        %h4.container-header General Instructions
        %p POD Required within 24-48 hours after delivery. 

      %section.sidebar-container
        %h4.container-header Documents
        %ul.load-documents
          %li
            .doc-image
              =image_tag('')
            .doc-descrip
              %h4 Rate Confirmation
              .doc-data
                Updated 06:45 CST, Today
                By Echo

          %li
            %button.btn.btn-add_document
              .add-type
                Invoice <br>
                %small BOLs, Receipts, Scale Tickets
          %li
            .doc-add_docs
              .doc-add_type Load Documents
        
        %p.text-center
          %small Accepted File Types: JPEG, PDF, PNG
