-@title= 'Carrier Dashboard'
-@page_classes= 'load-management'

= partial 'partials/header_carrier_dashboard'
= partial 'partials/map_spacer'

.container
  = partial 'partials/load_management_active'

.container.main-content
  .section-head
    %h1.section-label
      STOPS

  .row
    %section.col-md-8
    
      = partial 'partials/loads_accordion'
      / = partial 'partials/loads_sidebar_relatedcontent'

      %p.text-muted Activity Logs are not available for multi-stop loads yet.

      %section.load-log-table
        %h4 All Load Activities
        %p.disclaimer [Disclaimer text provided by Legal to clarify that this log does not replace other records for purposes like calculating detention, etc]

        %table.table.log-table
          %tr
            %td.log-note Do not Disturb On
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5
          %tr
            %td.log-note Trailer Picked up: Midtown OK
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5              
          %tr
            %td.log-note Driver Assigned: Mike P.
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5              
          %tr
            %td.log-note Reported Arrival at Pickup: Memphis TN
            %td.log-driver Driver Mike P.
            %td.log-time 14:00 CST
            %td.log-day Sat, June 5

    .col-md-4
      %section.sidebar-container
        %h4.section-header.sh-short Equipment
        .equip-list
          Dry Van 53’<br/>
          HazMat<br/>
          Tractor 093837<br/>
          =link_to 'Add Trailer Number', '#', class: 'btn btn-link btn-alt btn-sm'
          %form
            .form-group.form-inline
              %label.hidden Add Trailer Number
              %input.form-control{:type => "text", :placeholder => "Add Trailer Number"} 

        .equip-specials
          Drop Trailer at Shipper<br>
          No Reefers<br>

      %section.sidebar-container
        %h4.section-header.sh-short General Instructions
        %p POD Required within 24-48 hours after delivery. 

      %section.sidebar-container
        %h4.section-header.sh-short Documents
        %ul.load-documents
          %li
            .doc-image
              =image_tag('')
            .doc-descrip
              %h4 Rate Confirmation
              .doc-data
                Updated 06:45 CST, Today
                By Echo

        %button.btn.btn-document.btn-document_primary
          .add-type
            Invoice
        %button.btn.btn-document
          .add-type
            Load Documents
            %small BOLs, Receipts, Scale Tickets
        
        %p.text-center.text-muted
          %small Accepted File Types: JPEG, PDF, PNG
