-@title= 'Echo / Registration &amp; Login'
-@page_classes= 'register'

.container-flex.container-register

  .col-sm-7.col-register.col-register_content

    %h1.brand.brand-lg Echo
    
    %h2 Batmobile Marketing Unauthenticated Home Page
    
    .lead
      %p Marketing copy and features / benefits bullets.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat nisl magna, et faucibus arcu condimentum sed:

      %ul
        %li Lorem ipsum dolor sit consectetur adipiscing elit.
        %li Aliquam at porttitor sem. Aliquam erat volutpat.
        %li Donec placerat et faucibus arcu condimentum.

  .col-sm-5.col-register.col-register_form

    %h1.section-label Already Have An Account? <br>Please Log In.
    %form
      %fieldset.fieldset
        .form-group
          %label Email
          %input.form-control{:type => "email", :placeholder => "myname@mail.com"}
        .form-group
          %label Password
          %input.form-control{:type => "password", :placeholder => "Enter password"}
        .form-group
          =link_to 'Forgot password?', '/password.html', class: 'btn btn-link btn-alt'
          %button.btn.btn-default.pull-right{type: "submit"} Login