-@title= 'Echo / Registration &amp; Login'
-@page_classes= 'register'

.container
  .row

    .col-sm-6.mt-50

      %h1.brand Echo

      %p You've been invited to use Batmobile for load tracking and invoicing!
  

    .col-sm-6.mt-50

      %h1 Please Create A Password
      %form
        .form-group
          %label Password
          %input.form-control{:type => "email", :placeholder => "Enter your password"}
        .form-group
          %label Confirm Password
          %input.form-control{:type => "password", :placeholder => "Re-enter your password"}

        %button.btn.btn-default.pull-right{type: "submit"} Set

        %p Password should contain:
        %ul
          %li At least 1 uppercase letter
          %li At least 1 lowercase letter
          %li At least 1 number
          %li At least 8 characters