-@title= 'Echo / Registration &amp; Login'
-@page_classes= 'register'

.container-flex.container-register

  .col-sm-7.col-register.col-register_content

    %h1.brand Echo
    
    %h2 You've been invited to use Batmobile for load tracking and invoicing!
  

  .col-sm-5.col-register.col-register_form

    %h1.section-label Please Create A Password
    %form
      %fieldset.fieldset
        .form-group
          %label Password
          %input.form-control{:type => "email", :placeholder => "Enter your password"}
        .form-group
          %label Confirm Password
          %input.form-control{:type => "password", :placeholder => "Re-enter your password"}
        .form-group
          %button.btn.btn-default{type: "submit"} Set

    .password-check
      %p Password should contain:
      %ul.checklist
        %li.checklist-approved At least 1 uppercase letter
        %li.checklist-approved At least 1 lowercase letter
        %li At least 1 number
        %li At least 8 characters