-@title= 'Echo UI Portal Profile'
-@page_classes= 'user-profile'


.container.main-content

  =link_to '#', class: 'btn btn-back btn-link' do
    =image_tag('iconarrow-blue.svg')
    Back To Portal User List

  .row
    .col-sm-6
      %section.content-container.profile-info
        %h1.profile-name.profile-name_driver
          =image_tag('icon-portal-user.svg', class: 'icon icon-portal-user')
          Portal User

        %form
          %fieldset.fieldset
            .form-group
              %label First Name
              %input.form-control{:type => "email", :placeholder => "Driver Name"}
            .form-group
              %label Last Name
              %input.form-control{:type => "password", :placeholder => "Last Name"} 

          %fieldset.fieldset
            %legend Contact Information
            .form-group.has-error
              %label Email Address
              %input.form-control{:type => "email", :placeholder => "email@email.com"}
              %span.help-block This email address is currently in use
            .form-group
              %label Phone Number
              %input.form-control{:type => "password", :placeholder => "Last Name"} 

            .form-group
              =link_to 'Remove User', '#', class: 'btn btn-link btn-alt'
              %button.btn.btn-default.pull-right{type: "submit"} Save Changes

    .col-sm-6
      %section.content-container
        %h2.section-header Batmobile Usage
  
        %ul.checklist
          %li.checklist-inprogress 
            Invited May 18 2016
            %button.btn.btn-default.pull-right Resend Invite
