.items-lists {
  margin: 0 -1.25rem;
}

.items-lists .item-list {
  padding: 20px 20px 15px;
  border: 0;
  box-shadow: none;
  border-left: solid 10px @c-white;
  border-right: solid 10px @c-white;
  p {
    height: 75px;
  }
  .item-footer {
    font-size: 12px;
    padding: 9px 20px;
    border-radius: 0 0 3px 3px;
    background-color: #f0f0f0;
    border-top: 1px solid #e1e2e3;
  }
}