<div class="shipping-item-list">
  <div class="items-lists row">
    <section class="item-list well col-xs-6" ng-class="{even: $index % 2 === 0}"  ng-repeat="item in $ctrl.firstTwoItems">
      <article class="item-content">
        <p>{{item.quantity}} {{item.description}}</br>Estimated weight: {{item.estimatedWeight}}</p>
      </article>
    </section>
  </div>
    <div class="items-lists row" uib-collapse="!$ctrl.isOpen" ng-if="$ctrl.otherItems">
      <section class="item-list well col-xs-6" ng-class="{even: $index % 2 === 0}" ng-repeat="item in $ctrl.otherItems">
        <article class="item-content">
        <p>{{item.quantity}} {{item.description}}</br>Estimated weight: {{item.estimatedWeight}}</p>
        </article>
      </section>
    </div>
</div>
<div class="row" ng-if="$ctrl.otherItems">
  <div class="col-xs-12">
    <a href="javascript:void(0)" ng-click="$ctrl.isOpen = !$ctrl.isOpen">
      <span ng-if="!$ctrl.isOpen">Show More</span>
      <span ng-if="$ctrl.isOpen">Show Less</span>
    </a>
  </div>
</div>