<div class="load-detail">
  <table class="table table-carrier-dashboard">
    <tbody>
      <tr>
        <td class="carrier-dashboard-load">
          <pro-number></pro-number>
        </td>
        <td class="carrier-dashboard-pickup">
          <shipping-details shipping-details="$ctrl.delivery"></shipping-details>
        </td>
        <td class="carrier-dashboard-arrow">
          <span class="echo-icon icon-right-arrow-dark"></span>
        </td>
        <td class="carrier-dashboard-delivery">
          <shipping-details shipping-details="$ctrl.delivery"></shipping-details>
        </td>
        <td>
          <driver assigned-by-echo="loadManagement.assignedByEcho" load-type="$ctrl.loadType"></driver>
        </td>
        <td>
          <action load-type="0"></action>
        </td>
      </tr>
    </tbody>
  </table>
</div>