<div class="load-detail load-table">
  <table class="table table-carrier-dashboard">
    <tbody>
      <tr>
        <td class="carrier-dashboard-load">
          <pro-number pro-number="$ctrl.loadDetail.proNumber" bol-number="$ctrl.loadDetail.bolNumber"></pro-number>
        </td>
        <td class="carrier-dashboard-pickup">
          <shipping-details shipping-details="$ctrl.loadDetail.pickUp"></shipping-details>
        </td>
        <td class="carrier-dashboard-arrow">
          <span class="echo-icon icon-right-arrow-dark"></span>
        </td>
        <td class="carrier-dashboard-delivery">
          <shipping-details shipping-details="$ctrl.loadDetail.delivery"></shipping-details>
        </td>
        <td>
          <driver load="$ctrl.loadDetail" carrier-id="$ctrl.carrierId" driver-changed-callback="$ctrl.reloadState()"></driver>
        </td>
        <td>
          <action load="$ctrl.loadDetail" action-changed-callback="$ctrl.reloadState()" load-type="0"></action>
        </td>
      </tr>
    </tbody>
  </table>
</div>