<h4 class="content-header">You are reporting the driver's delivery of:</h4>
<div class="card-group">
  <div class="card card-driver" ng-repeat="item in $ctrl.items">
    <div class="card-details">
      <p>
        <strong>{{item.description}}</strong>
      </p>
      <p>
        <span ng-if="item.quantity">{{item.quantity}} EA,</span> {{item.handlingUnit}}</br>Estimated weight: {{item.estimatedWeight}} lbs
      </p>
    </div>
  </div>
</div>
<p>
  <strong>When was the driver at this location?</strong>
</p>
<p class="text-muted disclaimer">This clock is solely for use as a reference and may not be accurate.  This clock shall not be determinative of any accessorial or other charges, rates, cots or pricing, all of which shall be determined in accordance by the Echo’s or the customer’s applicable contracts, tariffs or other applicable terms.</p>
<date-time-picker date-time="$ctrl.dateTimePicker" time-zones="$ctrl.timeZones"/>
