<header class='navbar'>
  <div class='eyebrow-header'>
    <div class='container'>
      <div ng-if="$ctrl.user.isCarrierAdmin()" class="eyebrow-text pull-left">
        <billing-questions></billing-questions>
      </div>
      <ul class='eyebrow-nav list-inline navbar-right'>
        <li ui-sref-active="active" ng-if="$ctrl.user.isRepAdmin()">
          <a ui-sref="{{::$ctrl.routesConfig.INDEX.myCarriers.name}}" class="link-mycarriers">My Carriers</a>
        </li>
        <li>
          <a href="javascript:void(0)" ng-click="$ctrl.signOutHandler()" class="link-signout">Log Out
            <img src="../assets/images/icon-signout@2x.png" class="" alt="Icon signout@2x" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
