.document-overview-modal {
  .modal-sidebar {
    width: 295px;
    padding: 30px 10px 15px;
    background: @c-white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    .section-header {
      padding: 0 20px;
    }
    .load-documents {
      padding: 0;
      margin: 20px 0;
    }
  }
  .modal-main-content {
    padding: 25px 50px 0 40px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  /* line 340, pages/_reporting_modals.sass */
  .modal-main-content footer {
    padding: 10px 0;
    text-align: center;
  }
  /* line 344, pages/_reporting_modals.sass */
  .modal-main-content .pagination {
    margin-bottom: 0;
  }
  .document-title {
    color: #fff;
  }
  /* line 355, pages/_reporting_modals.sass */
  .document-title .content-header {
    color: #fff;
    margin-bottom: 5px;
  }
  /* line 358, pages/_reporting_modals.sass */
  .document-title p {
    margin-top: 0 !important;
  }
  .doc-descrip {
    font-size: 12px;
    line-height: 1.3;
  }
  .doc-image {
    margin-right: 15px;
    height: 70px;
    width: 65px;
    margin: 0 25px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    img {
      width: auto;
      height: auto;
      -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto;
    }
  }
  .load-doc {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0px 10px 15px;
    &:hover {
      background: #f7f7f7;
      cursor: pointer;
    }
  }
  .document-preview img {
    width: 100%;
    height: auto;
  }
}