<div class="row">
  <div class="col-md-12">
    <table class="table table-invoice">
      <thead>
        <tr>
          <th>Invoice #</th>
          <th>Received Date</th>
          <th>Status</th>
          <th>Invoice Amount<hr>Balance Remaining</th>
          <th>Load Number</th>
          <th>Pro Number</th>
          <th>Lane</th>
          <th>Picked Up<hr>Delivered</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-if="$ctrl.invoices.length === 0">
          <td colspan="6" class="text-center">
            <h3>No invoices found</h3>
          </td>
        </tr>
        <tr ng-repeat="invoice in $ctrl.invoices">
          <td class="invoice-number">
            <a href="#">1234567
              <span class="echo-icon icon-document"></span>
            </a>
          </td>
          <td class="invoice-received-date">
            Feb 3 2016
          </td>
          <td class="invoice-status">
            <strong>In Review</strong>
            <br>
            Weight Discrepancy
          </td>
          <td class="invoice-total">
            <span>$10,202.00</span><br><div class="text-warning">
            $10,202.00
          </div>
          </td>
          <td class="invoice-load-number">
            <a href="#">123443211</a>
          </td>
          <td class="invoice-pro-number">
            1234567890
          </td>
          <td class="invoice-lane">
            Jersey City, NJ
            <br>
            Marietta, GA
          </td>
          <td class="invoice-dates">
            <span>Feb 3 2016</span><br><span>
                      Feb 6 2016
                    </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
