<div class="sidebar-list">
  <ul class="sidebar-list-alpha" ng-repeat="sidebarItem in $ctrl.items">
    <li class="sidebar-list-letter">
      {{sidebarItem.letter}}
      <ul class="sidebar-list-names">
        <li ng-repeat="value in sidebarItem.values" ng-click="$ctrl.selectItemHandler(value)" 
          ng-class="{'sidebar-selected': value.selected, 'item-inactive': value.isInactive()}">
          <a ui-sref="{{$ctrl.link}}({id: value.id, isRepAdmin: true})">{{value.name}}</a>
        </li>
      </ul>
    </li>
  </ul>
</div>