.document-uploading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 433px;
  padding-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  .document-upload {
    cursor: pointer;
    input[type="file"] {
      cursor: pointer;
      .opacity(0);
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      left: 0;
    }
    width: 130px;
    margin-right: 20px;
    flex-shrink: 0;
    &.empty {
      width: 100%;
      margin-right: 0;
    }
  }
  .added-document {
    flex-shrink: 0;
    margin-right: 20px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 130px;
    height: 140px;
    text-align: center;
    padding: 20px 15px 10px;
    background-color: #f7f7f7;
    .close {
      position: absolute;
      top: calc(-24px/2);
      right: calc(-24px/2);
      width: 24px;
      height: 24px;
      border-radius: 100%;
      background-color: #fff;
      -webkit-transition: box-shadow 0.1s ease-in;
      transition: box-shadow 0.1s ease-in;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      float: right;
      .opacity(1);
      font-size: 0;
      line-height: 0;
      z-index: 999999;
    }
    .added-doc-text {
      height: 20px;
      width: 130px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .added-document .close:after, .added-document .close:before {
    background: @c-red;
    height: 2px;
    width: 1.5rem;
  }
  .added-document .close:hover {
    background: #f7f7f7;
    box-shadow: 0 0 0 transparent;
  }
  .btn.btn-document.btn-dropzone-lg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 140px;
    padding: 0;
  }
  .btn.btn-document.btn-dropzone-lg:before, .btn.btn-document.btn-dropzone-lg:after {
    top: calc(32px + 27px/2);
    left: 50%;
    margin-left: calc(-27px/2);
  }
  .btn.btn-document.btn-dropzone-lg .add-type {
    text-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    margin-left: 0;
    height: auto;
    padding: 27px;
    border-left: none;
  }
  .btn.btn-document:after {
    -webkit-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  .btn.btn-document.btn-add-doc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 140px;
    width: 130px;
    padding: 0;
    margin-bottom: 0;
    &:before, &:after {
      top: calc(40px + 27px/2);
      left: 50%;
      margin-left: calc(-27px/2);
    }
    .add-type {
      text-align: center;
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end;
      margin-left: 0;
      height: auto;
      border-left: none;
    }
  }
  .added-doc-thumb {
    > img, canvas {
      max-height: 80px;
      max-width: 100px;
    }
  }
}