.loading{
    position: absolute;
    left: 0;
    z-index: 1;
    height: 100%;
    top: 0;
    background-color: rgba(0,0,0, 0.2);
    width: 100%;
    text-align: center;
    .loading-text{
        font-size: 30px;
        margin-top: 300px;
        &:after {
            content: "Loading";    
            font-weight: bold;
            animation-name: loading-text;
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }
    }
}
@keyframes loading-text{
  0%{
    content: "Loading";
  }
  25%{
    content: "Loading.";
  }
  50%{
    content: "Loading..";
  }
  75%{
    content: "Loading...";
  }
}