<div class="dashboard">
  <div class="container-fluid carrier-dashboard-header">
    <div class="container">
      <ul class="list-inline carrier-dashboard-header_left">
        <li>
          <strong>{{$ctrl.mapPoints.length}} Loads Located</strong>
        </li>
      </ul>
      <echo-rep-contact class="list-inline carrier-dashboard-header_right" rep-details="$ctrl.repDetails"></echo-rep-contact>
    </div>
  </div>
  <load-map show-map="$ctrl.showMap" map-points="$ctrl.mapPoints" detailed-info="true" />
  <div class="container main-content">
    <section>
      <div class="section-head">
        <h1 class="section-label">
            Loads Needing Action
            <span class="section-sub-label">
              Via Online Reporting
            </span>
          </h1>
        <a ui-sref="{{$ctrl.activeLoadsRoute}}">View All {{$ctrl.activeLoadCount}} Active Loads</a>
      </div>
      <load-table rep-details="$ctrl.repDetails" ng-if="$ctrl.showActionLoadsLoading || $ctrl.activeLoads.length > 0" 
        loads="$ctrl.activeLoads" load-type="$ctrl.loadType" carrier-id="$ctrl.carrierId" 
        show-loading="$ctrl.showActionLoadsLoading" refresh-table-callback="$ctrl.fetchLoadsNeedingAction()"></load-table>
      <show-more paging-model="$ctrl.pagingActionLoads" show-loading="$ctrl.showMoreActionLoadsLoading" record-type="Loads Needing Action" click-handler="$ctrl.showMoreActionLoadsHandler()"/>
      <div class="no-loads-message" ng-if="!$ctrl.showActionLoadsLoading && $ctrl.activeLoads.length === 0">
        <h3>You have no loads that need online actions right now.</h3>
        <div>You have <a ui-sref="{{$ctrl.activeLoadsRoute}}">{{$ctrl.activeLoadCount}} active loads</a> at this time.</div>
      </div>
    </section>
    <section class="multi-stop-loads">
      <div class="section-head">
        <h1 class="section-label">
            Multi Stop Loads
            <span class="section-sub-label">
              With Upcoming Appointments
            </span>
          </h1>
      </div>
      <load-table rep-details="$ctrl.repDetails" loads="$ctrl.multiStopLoads" load-type="$ctrl.loadType" show-loading="$ctrl.showMultiStopLoading" carrier-id="$ctrl.carrierId" refresh-table-callback="$ctrl.refreshPageData()"></load-table>
      <show-more show-loading="$ctrl.showMoreMultiStopLoading" paging-model="$ctrl.pagingMultistopLoads" record-type="Multi Stop Loads" click-handler="$ctrl.showMoreMultiStopLoadsHandler()"></show-more>
    </section>
  </div>
</div>
