<div class="load-items-details">
    <h4 class="section-header sh-med section-header_items">
        Items to Pick Up
        <div class="pull-right">
            <span class="items-pickup-number">
                          Pickup Number
                          <em>
                            56783456
                          </em>
                        </span>
            <span class="items-total-weight">
                          Stop Total
                          <em>
                            18680 LBS
                          </em>
                        </span>
        </div>
    </h4>
    
    <item-list items="$ctrl.items"/>
</div>