<div class="document-uploading">
  <div class="document-upload" ng-class="{empty: $ctrl.files.length === 0}">
    <div class="btn btn-document btn-dropzone-lg">
      <file-upload file-list="$ctrl.files"></file-upload>
      <div class="add-type">
        <span ng-if="$ctrl.files.length === 0">ADD A DOCUMENT</span>
        <span ng-if="$ctrl.files.length > 0">ADD PAGE</span>
        <small>You can also drag and drop</small>
      </div>
    </div>
  </div>
  <div class="added-document" ng-repeat="file in $ctrl.files">
    <div ng-click="$ctrl.removeFile(file)" class="btn-close close">X</div>
    <div class="added-doc-thumb">
    </div>
    <div class="added-doc-text">
      {{file.name}}
    </div>
  </div>
</div>