<div class="register">
  <div class="container-flex container-register">
    <div class="col-sm-5 col-lg-7 col-register col-register_content">
      <h1 class="brand brand-lg">Echo</h1>
      <div ng-if="!$ctrl.invalidToken">
        <h2>Batmobile Marketing Unauthenticated Home Page</h2>
        <div class="lead">
          <p>Marketing copy and features / benefits bullets. Â&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec placerat nisl magna, et faucibus arcu condimentum sed:</p>
          <ul>
            <li>Lorem ipsum dolor sit consectetur adipiscing elit.</li>
            <li>Aliquam at porttitor sem. Aliquam erat volutpat.</li>
            <li>Donec placerat et faucibus arcu condimentum.</li>
          </ul>
        </div>
      </div>
      <div ng-if="$ctrl.invalidToken">
        <h2>Sorry, this invitation is no longer valid!</h2>
        <div class="lead">
          <p>If you already set up an account please login. If not, please contact the person who invited you and have them invite you again</p>
        </div>
      </div>
    </div>
    <div class="col-sm-7 col-lg-5 col-register col-register_form">
      <h1 class="section-label">Already Have An Account? <br>Please Log In.</h1>
      <form name="$ctrl.signInForm" novalidate>
        <fieldset class="fieldset">
          <div class="form-group" ng-class="{'has-error': $ctrl.signInForm.email.$invalid && $ctrl.signInForm.$submitted}">
            <label>Email</label>
            <input class="form-control" placeholder="myname@mail.com" name="email" ng-model="$ctrl.email" type="email" required>
             <span class="help-block" ng-if="$ctrl.signInForm.email.$invalid && $ctrl.signInForm.$submitted">{{$ctrl.appConstants.ERROR_MESSAGES.DEFAULTS.enterYourEmailAddress}}</span>
          </div>
          <div class="form-group" ng-class="{'has-error': $ctrl.signInForm.password.$invalid && $ctrl.signInForm.$submitted}">
            <label>Password</label>
            <input class="form-control" placeholder="*****" name="password" ng-model="$ctrl.password" type="password" required>
             <span class="help-block" ng-if="$ctrl.signInForm.password.$invalid && $ctrl.signInForm.$submitted">{{$ctrl.appConstants.ERROR_MESSAGES.DEFAULTS.enterYourPassword}}</span>
          </div>
          <div class="form-group">
            <a ui-sref="{{$ctrl.routesConfig.LOGIN.forgotPassword.name}}" class="btn btn-link btn-alt">Forgot password?</a>
            <loading-button button-text="Login" class="pull-right" show-loading="$ctrl.showButtonLoading" click-handler="$ctrl.signInHandler()"></loading-button>
            <server-errors class="text-center" error="$ctrl.serverError"></server-errors>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>