.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 20px;
  padding: 11px 19px 5px;
  margin: 0 0 10px;
  border-radius: 3px;
  background-color: #f0f0f0;
  box-shadow: 0 1px 2px 0 rgba(65, 67, 68, 0.4);
}

.card.card-link {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card.card-link:hover {
  background-color: #e3e3e3;
}

.card.card-link p {
  margin-bottom: 0;
}

.card .card-action {
  margin-right: 20px;
}

.card .card-action .control {
  margin-top: -0.7rem;
}

.card .card-details {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.card p {
  margin-bottom: 5px;
}
